body .page_layout .vc_col-sm-4 {
	margin-left: 0;
	width: 310px;
	float: right;
}
body .page_layout .vc_col-sm-8 {
	width: 650px;
}
body .vc_custom_1427127287391 {
	width: 310px;
}
body .pe_box {
	margin-left: 30px !important;
	margin-bottom: 15px !important;
	float: left !important;
}
body .pe_no_ml {
	margin-left: 0 !important;
}
body .single_slider:before {
	background: url(images/ie8_bg.png) repeat 50% 50%;
}
.author .text {
	padding-top: 0;
	margin-top: -8px;
}
body.single-top_slides .page_layout .vc_col-sm-8 .post_content {
	width: 650px;
}
body .sf-menu li a, 
body .sf-menu li a:visited {
	padding-right: 12px;
}