/*
Theme Name: medicenter Child Theme
Template: medicenter
*/

@import url("../medicenter/style.css");

.header_top_sidebar_container {
    background-color: #1F2C58;
    border-bottom: 0px solid #ededed;
    height: 0px;
}

.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus {
    outline:none;
}
.slides,.flex-control-nav,.flex-direction-nav {
    margin:0;
    padding:0;
    list-style:none;
}
/* FlexSlider Necessary Styles*********************************/
.flexslider .slides > li {
    display:none;
    -webkit-backface-visibility:hidden;
}
 /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    width:100%;
    display:block;
}
.flex-pauseplay span {
    text-transform:capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0;
}
 html[xmlns] .slides {
    display:block;
}
 * html .slides {
    height:1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display:block;
}
/* FlexSlider Default Theme*********************************/
.flexslider {
    padding:0;
    margin:0 auto;
    position:relative;
    zoom:1;
}
.flex-viewport {
    max-height:2000px;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    transition:all 1s ease;
}
.loading .flex-viewport {
    max-height:300px;
}
.flexslider .slides {
    zoom:1;
}
.carousel li {
    margin-right:5px}
/* Direction Nav */
.flex-direction-nav {
    *height:0;  
}
.flex-direction-nav a {
    width: 40px;
    height:100%;
    position:absolute;
    top: 0;    
    margin: ;
    display:block;
    cursor:pointer;
    text-indent:-9999px;
    opacity:1;
}
.flex-direction-nav {
    background: url(images/arr_left_over.png) no-repeat -9999px 50%; 
}
.flex-direction-nav li {
    background: url(images/arr_right_over.png) no-repeat -9999px 50%; 
}
.flex-direction-nav a.flex-prev {
    left: 0;
    background: url(images/arr_left.png) no-repeat 50% 50%;    
}
.flex-direction-nav a.flex-prev:hover {
    background: url(images/arr_left_over.png) no-repeat 50% 50%;    
}
.flex-direction-nav a.flex-next {
    right: 0;
    background: url(images/arr_right.png) no-repeat 50% 50%;    
}
.flex-direction-nav a.flex-next:hover {
    background: url(images/arr_right_over.png) no-repeat 50% 50%;   
}
/* Control Nav */
.flex-control-nav {
    line-height: 0;
    text-align: center;
    position:absolute;
    bottom: 0;
    left:0;
    text-align:center;
    padding:0;
    z-index: 9999;
    width: 100%;
    margin: 0;
    display: none;
}
.testimonials_box .flexslider {
    padding: 50px 0 42px;
    margin: 18px 0;
}
.flex-control-nav li {
    margin:0;
    display:inline-block;
    zoom:1;
    *display:inline;
}
.flex-control-paging li a {
    width: 8px;
    height: 8px;
    line-height:11px;
    font-size:11px;
    padding:0;
    margin:0 6px;
    display:block;
    cursor:pointer;
    text-indent:-9999px;
    transition: none;
    -o-transition: none;
    -moz-transition: none;
    -webkit-transition: none;  
}
.flex-control-paging li a:hover {
}
.flex-control-paging li a:after {
    display: none;
}
.flex-control-paging li a.flex-active {
    cursor:default;
}
.flex-control-thumbs {
    margin:5px 0 0;
    position:static;
    overflow:hidden;
}
.flex-control-thumbs li {
    width:25%;
    float:left;
    margin:0;
}
.flex-control-thumbs img {
    width:100%;
    display:block;
    opacity:.7;
    cursor:pointer;
}
.flex-control-thumbs img:hover {
    opacity:1;
}
.flex-control-thumbs .flex-active {
    opacity:1;
    cursor:default;
}

.single_slider {
    position: fixed;
    top: 0;
    left: -9999px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /*
    left: 0;
    display: none;
    */
}
.single_slider:before {
    display: block;
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;     
    background: #000;
}
.img_box {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;  
    margin: 0 auto 90px;  
}
.img_box img {

}
.single_slider .flexslider {
    width: 100%;
    max-height: 100%;
    /*
    max-width: 100%;
    width: 480px;
    height: 320px;
    background: #fff url(images/loading.gif) no-repeat 50% 50%;
    */
}
.single_slider .flexslider ul.slides,
.single_slider .flexslider ul.slides li {
    max-height: 100%;    
}
.single_slider .flexslider .slides img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 80%;
    width: auto;
    height: auto;
}
.single_slider .flexslider {
    max-width: 720px;
    margin: 0 auto;
}
.single_slider .flexslider .slides > li {

}
.single_slider .flexslider .slides > li .desc:before {
    display: block;
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;   
    background: #1f2c58;
    /*
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3; 
    */
    display: none;
}
.single_slider .flexslider .slides > li .desc {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;    
    padding: 6px 0 8px; 
    margin: 0 0 -48px;
    background: #000;
    z-index: 999; 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;     
}
.single_slider .flexslider .slides > li .desc_inner {
    margin: 0;
    height: 34px;
    overflow: hidden;
} 
.single_slider .flexslider .slides > li .desc,
.single_slider .flexslider .slides > li .desc p {
    color: #fff;
    font-size: 13px;
    line-height: 17px;  
}
.single_slider .flexslider .slides > li .desc p {
    padding: 0 8px 6px;
}
.single_slider .flexslider .slides > li .desc p:first-child {
    padding: 0 8px;
}
.table {
    display: table;
    width: 100%;
    height: 100%;
}
.td {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.single_slider .flexslider .slides > li .desc_inner {
    position: relative;
}
.post_image_a {
    display: block;
    position: relative;
}
.post_image_a:hover:before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;   
}
.post_image_a:before {
    display: block;
    display: none;
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;   
    background: #1f2c58;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3; 
}
.post_image_a:after,
.post_image_a .ie8_arr {
    display: block;
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;   
    background: url(images/post_play.png) no-repeat 50% 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;     
}
.post_image_a:hover:after,
.post_image_a:hover .ie8_arr {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;  
}
.single_slider_close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;       
    background: url(images/close.png) no-repeat 50% 50%;
    z-index: 9999;
}
body .sf-menu li a, 
body .sf-menu li a:visited {
    padding-left: 8px;
    padding-right: 7px;
}
.author {
    padding: 0 0 20px;
}
.author img {
    float: left;
    display: block;
    width: 52px;
    height: auto;
}
.author .text {
    margin: 0 0 0 70px;
    padding: 5px 0 0;
}
body .columns .post_content .author p,
body .theme_page .post_content .author p {
    clear: none;
    font-size: 14px;
    line-height: 125%;
    padding: 2px;
}
.grid_posts {
    padding: 30px 0;
}
.grid_posts ul {
    padding: 0;
    margin: 0;
}
.grid_posts > ul > li {
    float: left;
    width: 31.3%;
    margin: 0 0 20px 3.05%;
    padding: 0;
    list-style: none;
}
.grid_posts > ul > li img.attachment-grid_thumb {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.grid_posts > ul > li.no_ml {
    clear: both;
    margin-left: 0;
}
.grid_posts .title {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    background: #ffa800;
    padding: 10px 5px;
}
.grid_posts a:hover .title {
    color: #ffa800;
    background: #fff;
}
.activities ul.list,
.activities ul.list ul {
    padding: 0;
    margin: 0;
}
.activities ul.list {
    border-top: 1px solid #cdcdcd;    
    border-top: none;
}
body.post-type-archive-activities .activities ul.list {
    border-top: none;
}
.activities ul.list li {
    list-style: none;
    padding: 32px 0 29px;
    margin: 0;
    border-bottom: 1px solid #cdcdcd;
}
.post_content .activities {
    padding: 0 0 18px;
}
.post_content .activities ul.list li {
    padding: 6px 0;
}
.activities ul.list > li:first-child {
    border-top: 0;
}
.activities .main {
    text-align: center;
    width: 67.67%;
    float: left;
}
.activities .img {
    float: left;
    width: 32.38%;
}
.activities .img img {
    max-width: 100%;
    height: auto;
    display: block;
}
.activities .text {
    float: left;
    width: 49.85%;
    margin: 0 0 0 6.26%;
}
.activities h2.title {
    color: #2e2d35;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    padding: 0 0 5px;
}
.activities {
    font-size: 15px;
    line-height: 19px;
}
.activities ul.list li {
    text-align: left;
}
.activities ul.list li ul li {
    color: #2e2d35;    
    padding: 6px 0;
    border-top: 1px solid #dbdbdb;    
}
body.post-type-archive-activities .activities ul.list li ul li {
    border-top: none;
}
.activities ul.list li ul li.link {
    color: #2e2d35;
    font-size: 13px;
    line-height: 17px;
}
.activities a.button {
    color: #fff;
    font-size: 13px;
    line-height: 17px;    
    text-align: center;
    background: #ffa800;
    display: inline-block;
    width: auto;
    padding: 12px 20px;
    margin: 16px auto 0;
}
body.post-type-archive-activities .activities a.button {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.activities a.button:hover {
    background: #3156a3;
}
body.post-type-archive-activities .activities ul.list li {
    text-align: center;
}
body.post-type-archive-activities .activities ul.list li ul,
body.post-type-archive-activities .activities ul.list li ul li {
    text-align: left;
}
.activities .date {
    color: #ffa800;
}
body .wp_pagination {
    padding: 30px 0;
}
body .wp_pagination,
body .wp_pagination a {
    line-height: 120%;
}
body .wp_pagination a:hover,
body .wp_pagination a.active {
    border: 1px solid #42b3e5;
}
.activities .sidebar {
    width: 28.7%;
    float: right;
    padding: 40px 0 0 0;
}
.activities .sidebar .widget {
    padding: 0 0 20px;
}
.activities .widget_archive li {
    width: auto;
    float: none;
}
body .wp_pagination {
    text-align: center;
    clear: both;
    float: none;
}
body .wp_pagination li,
body .wp_pagination li:first-child {
    float: none;
    display: inline-block;
    margin: 0 3px;
}
.slider_pagination {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 4px 0;
    background: #ececec;
    margin: 50px 0 0 0;
    z-index: 9999; 
}
.slider_pagination .inner {
    color: #676767;
    line-height: 14px;
    display: inline-block;
    padding: 5px 10px;
    float: right;
    background: #f3f3f3;
    border: 1px solid #d5d5d5;
    margin: 4px 8px 4px 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.slider_pagination .play,
.slider_pagination .prev,
.slider_pagination .next {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 4px;
    left: 50%
}
.slider_pagination .play {
    background: url(images/play.png) no-repeat 50% 50%;
    margin-left: -16px;
}
.slider_pagination .prev {
    background: url(images/backward.png) no-repeat 50% 50%;
    margin-left: -56px;
}
.slider_pagination .next {
    background: url(images/forward.png) no-repeat 50% 50%;
    margin-left: 24px;
}
.slider_pagination .pause {
    background: url(images/pause.png) no-repeat 50% 50%;
}
.single_slider .flexslider {
    background: url(images/pause.png) no-repeat -9999px 50%;    
}
.flex-direction-nav a {
    display: none;
}

.wpb_wrapper img {
    max-width: 100%;
    height: auto;
}
.view_more {
    display: block;
    text-align: right;
}


@media only screen and (max-width: 767px) {
    .activities .main {
        width: auto;
        float: none;
        padding: 0 0 30px;
    }    
    .activities .sidebar {
        width: auto;
        float: none;
        padding: 0 0 30px;        
    }
    .grid_posts ul li,
    .grid_posts ul li.no_ml {
        width: auto;
        float: none;
        margin: 0 0 20px;
    }
    .single_slider .flex-direction-nav a.flex-prev {
        background-image: none !important;
        width: 50%;
        top: 72%;
        margin-left: -20px;
        display: block;
    }
    .single_slider .flex-direction-nav a.flex-next {
        background-image: none !important;
        width: 50%;
        top: 72%;
        margin-right: -20px;
        display: block;   
        z-index: 999; 
    }    
}

@media only screen and (max-width: 480px) {
    .activities .img {
        width: auto;
        float: none;
        padding: 0 0 20px;
    }
    .activities .img img {
        margin: 0 auto;
    }
    .activities .text {
        text-align: center;
        width: auto;
        float: none;
        padding: 0 0 0;
        margin: 0;
    }
    /*
    .single_slider .flexslider .slides > li .desc {
        position: static;
        background: #1f2c58;
        padding: 5px;
    }
    */
    .single_slider_close {

    }
    .post_image_a:after {
        background-size: 60px auto;
    }
    .flex-direction-nav a {
        width: 45px;
        background-size: 100% auto !important;        
    }
}
.has_no_post_image {
    display: block;
    margin-bottom: 27px;
}
.has_no_post_image .mc_preloader {
    height: auto;
}
#pe_nav ul {
    padding: 0 0 0 14px;
    margin: 0;
}
#pe_nav ul li {
    padding: 6px 0 6px 8px;
}
#pe_nav ul li li {
    padding: 6px 0 2px 6px;
}
body.single-activities .post_content,
body.single-activities .post_content p {
    font-size: 13px;
    line-height: 20px;
}
body.single-activities .post_content p {
    padding: 0 0 20px;
}
body.single-patient_education .vc_row .wpb_wrapper,
body.single-activities .vc_row .wpb_wrapper {
    padding: 18px 0 0 0;
}
body.single-patient_education .vc_row .wpb_wrapper p,
body.single-activities .vc_row .wpb_wrapper p {
    padding: 0 0 19px;
}
body.single-patient_education .vc_row .vc_custom_1425795524649 .wpb_wrapper,
body.single-activities .vc_row .vc_custom_1425795524649 .wpb_wrapper {
    padding: 12px 0 0 0;
}
body.single-patient_education .vc_row .vc_custom_1425795524649 .wpb_wrapper p,
body.single-activities .vc_row .vc_custom_1425795524649 .wpb_wrapper p {
    padding: 0 0 10px;
}
body.single-patient_education .vc_row .wpb_wrapper,
body.single-patient_education .vc_row .wpb_wrapper div,
body.single-patient_education .vc_row .wpb_wrapper p,
body.single-activities .vc_row .wpb_wrapper,
body.single-activities .vc_row .wpb_wrapper div,
body.single-activities .vc_row .wpb_wrapper p {
    font-size: 14px;
    line-height: 21px;
}
body .footer_box {
    width: 22%;
    padding-left: 0;
    padding-right: 3%;
}
.pe_no_ml {
    margin-left: 0 !important;
    clear: both !important;
}
a.pe_link {
    color: #333300;
    text-align: center;
    display: block;
    padding: 1em 0;
}
a.pe_link:hover {
    color: #fff;
    background: #ffa800;
}

.bread_crumb li {
    max-width: 500px;
    overflow: hidden;
    height: 11px;    
}

body.single-activities .page_header_left .page_title {
    height: 72px;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    body .footer_box {
        width: auto;
        float: none;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 10px;
    }    
}

.bs_widget {
    margin-top: 20px !important;
}
body.single-activities .post_content {
    padding-bottom: 0;
}
body.single-activities .theme_page .vc_col-sm-4  > .wpb_wrapper .wpb_widgetised_column:first-child .wpb_wrapper {
    padding-top: 0;
}
body.post-type-archive-patient_education .page_layout img {
    display: block;
}
body.post-type-archive-patient_education .wpb_wrapper:hover .pe_link {
    color: #fff;
    background: #ffa800;
}

.gallery_item_details_list .details_box p {
    clear: both;
    color: #666666;
    line-height: 150%;
    padding: 10px 0;
}
.sentence {
    color: #3156a3;
    font-family: "Arial";
    font-style: italic;
    line-height: 150%;
    margin-top: 25px;
}

@media screen and (max-width:767px) {
    .header_left {
        float: none;
    }
    body .header_left a img {
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .header_top_sidebar_container {
        height: auto;
    }
    .header_top_sidebar_container .textwidget {
        padding: 10px 0 0;
    }
    .header_top_sidebar_container .textwidget div {
        text-align: right;
        float: none !important;
    }
}
#pe_sidebar {
    padding-top: 40px;
}
body.post-type-archive-patient_education .page_header {
    margin-bottom: 30px;
}
body.single-activities .post_content {
    border-bottom: none;
}
.sf-menu {
    /*background: #fff;*/
}
.gallery_item_details_list {
    border-bottom: none;
}





.date_filters {
    padding: 0 0 15px;
    margin: 0 0 15px;
}
.date_filters ul {
    margin: 0;
    padding: 15px 0;
}
.date_filters li {
    list-style: none;
    margin: 0 20px 0 0;
    float: left;
    border-bottom: 1px solid #e0e0e0;
}
.date_filters li a {
    color: #666;
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    padding: 8px 0 7px;
    border-bottom: 1px solid #e0e0e0;
}
.date_filters li.active,
.date_filters li:hover {
    border-bottom: 1px solid #ffa800;
}
.date_filters li.active a,
.date_filters li a:hover {
    color: #000;
    border-bottom: 1px solid #ffa800;
}
.activities .img {
    position: relative;
}
.activities .img span {
    text-indent: -9999px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;    
    height: 100%;
    padding: 0; 
}
.activities .img span.type_1 {
    background: url(images/coming_soon.png) no-repeat 0 0;
}
.activities .img span.type_2 {
    background: url(images/in_progress.png) no-repeat 0 0;
}
.activities .img span.type_3 {
    background: url(images/expired.png) no-repeat 0 0;
}

@media only screen and (max-width: 767px) {
    .date_filters li {
        float: none;
        margin: 0 0 10px;
    }   
    .date_filters li a {
        display: block;
    }
    .activities .img span {
        background-size: auto 100% !important;
    }
}

@media only screen and (max-width: 480px) {
    .date_filters {
        padding: 0 0 10px;
        margin: 0 0 10px;
    }    
    .activities .img img {
        width: 100%;
    }
    .activities .img span {
        background-size: auto auto !important;
    }
}



.mobile_menu {
    position: absolute;
    left: -9999px;
}
.header_container_line:after {
    display: block;
    content: ' ';
    width: 100%;
    height: 8px;
    background: #f0f0f0;
}
body .theme_page {
    border-top: none;
}
@media only screen and (max-width: 767px) {
    body.mean-container .mean-bar {
        position: absolute;
        top: 50px;
        right: 0;
        float: none;
        width: 100%;
        background: transparent;
        z-index: 7777;
        position: relative;
        top: 0;
        background: #1f2c58;
        margin-top: 0;
        z-index: 99999;
    }
    body.mean-container a.meanmenu-reveal {
        padding: 15px 15px 15px 15px;
        width: 26px;
        width: 100%;
        right: 0;
        padding-right: 0;
        padding-left: 0;
    }
    body.mean-container .mean-nav ul {
        border-bottom: 4px solid #f0f0f0;
    }
    body.mean-container .mean-nav ul li {
        float: left;
        margin: 0;
        height: auto;
        border-top: 1px solid #e8e8e8;
    }
    body.mean-container .mean-nav ul li:first-child {
        border-top: none;
    }
    body.mean-container .mean-nav ul li a {
        color: #888;
        padding: 15px 15px;
        width: 100%;
    }
    body.mean-container .mean-nav {
        position: absolute;
        top: 15px;
        right: 0;
        float: none;  
        margin-top: 24px;  
    }
    body.mean-container .menu_separator {
        display: none;
    }
    body.mean-container .mean-nav ul li a:hover,
    body.mean-container .mean-nav ul li.selected a,
    body.mean-container .mean-nav ul li.current-menu-item a,
    body.mean-container .mean-nav ul li.current-menu-ancestor a {
        color: #fff;
        background: #ffa800;
    }    
    .header_top_sidebar_container .textwidget div a {
        display: block;
        text-align: right;
        line-height: 20px;
        text-indent: 14px;
        display: none;
    }
    body .header {
        padding-top: 0;
    }
    body .header_left {
        text-align: left;
        padding-left: 0px;
    }
    body .header_left a {
        display: inline-block;
        position: relative;
        z-index: 8888;
        width: 234px;
        height: 60px;
        background: url(images/DJYS_SITE_Logo_bitmap.png) no-repeat 50% 50%;
        left: -14px;
        left: 0;
        display: block;
        left: auto;
        width: auto;
    }
    body .header_left a img {
        display: none;
    }
}
/*
body .header_left a img {
    margin: 0 auto;
    float: none;
}
*/
.mean-bar-zi {
    z-index: 99999 !important;
}
body.single-top_slides .post_footer {
    display: none;
}
