/* put here your custom css styles */

.wpb_heading .wpb_singleimage_heading {
padding-top: 10px;
padding-bottom: 10px;
background-color: #ffa800;
font-size: medium;
color: white;
}

.search .search_input {
margin-top: 16px;
margin-right: 4px;
width: 220px;
background: none repeat scroll 0% 0% #ccc;
border-top: 0px solid #1D4684;
border-left: 0px solid #1D4684;
border-right: 0px solid #1D4684;
border-bottom: 0px solid #1D4684;
transition: width 0.5s;
-moz-transition: width 0.5s;
-webkit-transition: width 0.5s;
-o-transition: width 0.5s;
}

.search input {
    float: left;
    padding: 11px 18px;
    border: medium none;
    color: #CCC;
    margin: 0px;
}

.search .search_input:focus{
border-left: 1px solid #ffa800;
border-right: 1px solid #ffa800;
border-bottom: 1px solid #ffa800;
width: 300px;
background:#fff;
}


/*		DYNAMIC HOMEBOXES		*/

.dynamic-homeboxes .home_box_container {
	float: left;
	padding: 15px 20px;
}
.dynamic-homeboxes .home_box_container:nth-child(1) {	background-color: #42b3e5;	}
.dynamic-homeboxes .home_box_container:nth-child(2) {	background-color: #43a140;	}
.dynamic-homeboxes .home_box_container:nth-child(3) {	background-color: #f17800;	}
.dynamic-homeboxes .home_box_container:nth-child(4) {	background-color: #ffa800;	}
.dynamic-homeboxes .home_box_container:nth-child(5) {	background-color: #ab5591;	}
.dynamic-homeboxes .home_box_container:nth-child(6) {	background-color: #0097b5;	}
	
.dynamic-homeboxes .home_box {
	height: 210px;
	width: 290px;
}

.dynamic-homeboxes .home_box .news  {
	font-size: 15px;
}

.dynamic-homeboxes .home_box .news  .text,
.dynamic-homeboxes .home_box a.post-title {
	height: 57px;
}

.dynamic-homeboxes .home_box .news  {
	margin-top: 15px;
}

.dynamic-homeboxes .home_box a.post-title {
	border: 0;
	color: #ffffff;
	display: block;
	/*font-size: 15px;*/
	text-decoration: none;
}

.dynamic-homeboxes .home_box a.post-title:hover {
	text-decoration: underline;
}

.dynamic-homeboxes .home_box .doctor-info {
	float: right;
	margin-top: 15px;
	font-size: 13px;
	width: 100%;
}

.dynamic-homeboxes .home_box .doctor-info .avatar {
	display: block;
	float: right;
	height: 77px;
	margin-left: 15px;	
	width: 77px;
}

.dynamic-homeboxes .home_box  .doctor-info p {
	color: #ffffff;
	float: right;
	margin-top: 20px;
	padding: 0;
	text-align: right;
}

.dynamic-homeboxes .home_box a.read-more {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0);
	background-image: url('images/icon_arrow_margin_right_white.png');
	background-position: right center;
	background-repeat: no-repeat;
	border: 1px solid #ffffff;
	display: inline-block;
	margin-top: 15px;
	padding: 5px 24px 7px 8px;
}

.dynamic-homeboxes .home_box a.read-more:hover {
	color: #000000;
	background-color: #ffffff;
	background-image: url('images/icon_arrow_margin_right_black.png');
}


@media screen and (max-width:1009px) {
	.dynamic-homeboxes .home_box {
		width: 335px;
	}
        .header {
        width: 990px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0;
        }
}

@media screen and (max-width:767px) {
	.dynamic-homeboxes .home_box {
		width: 422px;
		height: auto;
	}
	.dynamic-homeboxes .home_box .news .text,
	.dynamic-homeboxes .home_box a.post-title {
		height: 50px;
	}
        .header {
	width: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0;
       }
	.gallery_box img {
		height: auto;
	}
}

@media screen and (max-width:479px) {
	.dynamic-homeboxes .home_box {
		width: 260px;
	}
	.dynamic-homeboxes .home_box .news .text,
	.dynamic-homeboxes .home_box a.post-title {
		height: 80px;
	}
}

/*		=DYNAMIC HOMEBOXES		*/



a, .more {
    border-color: #fff;
    color: #fff;
}

a {
    border-bottom: 0px dotted #3156a3;
    color: #3156a3;
    outline: medium none;
    text-decoration: none;
}

.header_icon.member {
    background-image: url("images/header_address.png");
}

p {
    color: #666;
    font-size: 110%;
    line-height: 150%;
    padding: 1em 0;
}

.header_separator {
background: #1F2C58;
border-bottom: 0px solid #E8E8E8;
height: 5px;
padding-top: 20px;
z-index: 1;
position: relative;
margin-bottom: -1px;
}

.footer_container {
background-color: #13143D;
}

.sf-menu li a, .sf-menu li a:visited
{
     font-family: 'arial';
     color: #888;
     border: 1px solid #FFF;
     padding: 15px;
}

.post_footer_details li {
float: left;
font-size: 11px;
color: #909090;
margin-right: 5px;
margin-top: 10px;
}

.header.layout_2 .sf-menu li:hover a, .header.layout_2 .sf-menu li.selected a, .header.layout_2 .sf-menu li.current-menu-item a, .header.layout_2 .sf-menu li.current-menu-ancestor a {
color: #fff;
border-color: #ffa800;
}

.gallery_3_columns .gallery_box img,
.gallery_3_columns .gallery_box .mc_preloader {
	height: 301px;
}

.gallery_4_columns .gallery_box {
	height: 269px;
}

.bcenter {
text-align:center}  
