/*
Theme Name: MediCenter
Theme URI: http://themeforest.net/item/medicenter-responsive-medical-wordpress-theme/4718613?ref=QuanticaLabs
Description: MediCenter is a responsive WordPress theme suitable for medical or health related projects or businesses. Theme is maintained in a minimalist and modern style with strong blue accents. Theme comes with wide and boxed layout - both fully responsive and optimized for all kind of devices.
Author: QuanticaLabs
Author URI: http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Version: 6.5
Tags: light, white, one-column, two-columns, three-columns, right-sidebar, flexible-width, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, sticky-post, theme-options, translation-ready
*/
/* --- general --- */
.clearfix:after
{
    font-size: 0px;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
}
body
{
	background: #D8D8D8;
	padding: 0px;
	margin: 0px;
	font-family: 'Arial';
	font-size: 13px;
	color: #666;
}
.site_container
{
	max-width: 1590px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F8F8F8;
}
.site_container.boxed
{
	max-width: 1090px;
}
.site_container.fullwidth
{
	max-width: 100%;
}
a
{
	border-bottom: 1px dotted #3156A3;
	color: #3156A3;
	text-decoration: none;
	outline: none;
}
a:hover
{
	border-style: solid;
}
p
{
	padding: 1em 0;
	color: #666;
	line-height: 150%;
}
strong
{
	color: #000;
}
blockquote
{
	padding-left: 25px;
	color: #3156A3;
	font-size: 15px;
	font-family: 'Volkhov';
	border-left: 2px solid #3156A3;
	line-height: 150%;
	margin-bottom: 25px;
}
blockquote p
{
	padding: 0 !important;
	color: #3156A3;
}
pre
{
	font-family: 'Courier new';
    font-size: 14px;
    line-height: 170%;
	background: url('images/code_background.png') repeat;
	text-shadow: 0 1px 0 #FFF;
	zoom:1;
	filter: dropshadow(color=#ffffff, offx=0, offy=1); 
	padding: 0 5px;
	margin: 0;
	overflow: auto;
}
.relative
{
	position: relative;
}
input, textarea
{
	font-family: arial;
	font-size: 13px;
}
.margin_top_0
{
	margin-top: 0 !important;
}
.margin_top_10
{
	margin-top: 10px;
}
.margin_left_10
{
	margin-left: 10px;
}
.no_margin
{
	margin: 0 !important;
}
.padding_top_0
{
	padding-top: 0 !important;
}
.padding_top_15
{
	padding-top: 15px !important;
}
/* --- WordPress Core --- */
.alignnone 
{
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter 
{
    display: block;
    margin: 5px auto 5px auto;
}
.alignright 
{
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft 
{
    float: left;
    margin: 5px 20px 20px 0;
}
.aligncenter 
{
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright 
{
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone 
{
    margin: 5px 20px 20px 0;
}
a img.alignleft 
{
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter 
{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption 
{
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone
{
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft 
{
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright 
{
    margin: 5px 0 20px 20px;
}
.wp-caption img 
{
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text 
{
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.sticky
{
}
.gallery-caption
{
}
/* --- lists --- */
.slider,
.slider_navigation,
.home_box_container_list,
.items_list,
.scrolling_list,
.info_list,
.simple_list,
.blog,
.comment_box,
.post_footer_details,
.image_carousel,
.gallery_box .controls,
.accordion,
.contact_data,
.footer_banner_box_container,
.footer_contact_info_container,
.social_icons,
.columns,
.column_left,
.column_right,
.column,
.mc_gallery,
.tabs_navigation,
.gallery_item_details_list,
.controls,
.bread_crumb,
.pagination,
.widget_categories li,
.photostream,
.widget_archive ul,
#comments_list ul,
.mc_features,
.thin_list,
.top_info_list
{
	padding: 0;
	margin: 0;
	list-style: none;
}
/* --- font face --- */
/*@font-face 
{
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../font/DroidSans.eot');
  src: local('Droid Sans'), local('DroidSans'), url('../font/DroidSans.ttf') format('truetype');
}
@font-face 
{
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: normal;
  src: url('../font/DroidSerif-Regular-webfont.eot');
  src: local('Droid Serif'), local('DroidSerif'), url('../font/DroidSerif-Regular-webfont.ttf') format('truetype');
}*/
/* --- text colors --- */
.simple_list li
{
	color: #666;
}
/* --- headers --- */
h1, h2, h3, h4, h5
{
	font-family: 'PT Sans';
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #000;
}
h1 a, h2 a, h3 a, h4 a, h5 a,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover
{
	color: #000;
}
h1
{
	font-size: 30px;
}
h2
{
	font-size: 24px;
}
h3
{
	font-size: 18px;
}
h4
{
	font-size: 16px;
}
h5
{
	font-size: 13px;
}
h1.not_found
{
	font-size: 150px;
	color: #E8E8E8;
}
.box_header:after
{
	content: "";
	display: block;
	bottom: 0;
	width: 50px;
	height: 2px;
	background: #42B3E5;
	margin-top: 10px;
}
.box_header.no_border:after
{
	display: none;
}
.box_header.margin
{
	margin-top: 27px;
}
.sentence
{
	font-family: 'Volkhov';
	color: #3156A3;
	font-style: italic;
	margin-top: 25px;
	line-height: 150%;
}
.sentence_author
{
	float: right;
	margin-top: 10px;
	color: #909090;
	font-style: normal;
}
.info
{
	padding: 25px 0 28px;
}
/* --- header top sidebar --- */
.header_top_sidebar_container
{
	background-color: #F7F7F7;
	border-bottom: 1px solid #EDEDED;
}
.header_top_sidebar
{
	width: 990px;
	margin-left: auto;
	margin-right: auto;
}
/* --- header --- */
.header_container
{
	background-color: #fff;
}
.header
{
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	padding: 38px 0;
}
.header_left
{
	float: left;
	width: 320px;
}
.header_right
{
	float: right;
}
.header_left a
{
	display: block;
}
.header_left a, .logo
{
	font-family: 'PT Sans';
	font-size: 30px;
}
.header_left a:hover
{
	text-decoration: none;
}
.header_left a img
{
	float: left;
	margin-right: 20px;
}
.logo
{
	float: left;
	padding-top: 3px;
	color: #000000;
}
.header.layout_2
{
	padding-bottom: 0;
}
.header.layout_2 .header_left,
.header.layout_2 .header_right
{
	clear: both;
	width: 100%;
}
.header.layout_2 .header_right
{
	margin-bottom: -1px;
}
.header_separator
{
	background: #FFFFFF;
    border-bottom: 1px solid #E8E8E8;
    height: 1px;
    padding-top: 30px;
	z-index: 1;
	position: relative;
	margin-bottom: -1px;
}
.header.layout_2 .sf-menu li
{
	margin-left: -1px;
}
.header.layout_2 .sf-menu li ul li
{
	margin-left: 0;
}
.header.layout_2 .sf-menu li:hover, .header.layout_2 .sf-menu li.selected, .header.layout_2 .sf-menu li.current-menu-item, .header.layout_2 .sf-menu li.current-menu-ancestor
{
	height: auto;
	z-index: 201;
}
.header.layout_2 .sf-menu li.submenu:hover,
.header.layout_2 .sf-menu li ul li,
.header.layout_2 .sf-menu li:hover ul li
{
	height: auto;
}
.header.layout_2 .sf-menu li:hover a, .header.layout_2 .sf-menu li.selected a, .header.layout_2 .sf-menu li.current-menu-item a, .header.layout_2 .sf-menu li.current-menu-ancestor a
{
	border-color: #42B3E5;
	border-bottom: none;
}
.header.layout_2 .sf-menu li.submenu:hover a
{
	border-color: #E8E8E8 #E8E8E8 #FFFFFF;
	border-bottom: 1px solid #FFF;
}
.header.layout_2 .sf-menu li:hover ul a, .header.layout_2 .sf-menu li.submenu:hover ul a
{
	border-bottom: 1px solid #E8E8E8;
}
.header.layout_2 .sf-menu li ul li a:hover, .header.layout_2 .sf-menu li ul li.selected a, .header.layout_2 .sf-menu li ul li.current-menu-item a, .header.layout_2 .sf-menu li.submenu ul li a:hover, .header.layout_2 .sf-menu li.submenu:hover ul li.selected a, .header.layout_2 .sf-menu li.submenu:hover ul li.current-menu-item a, .header.layout_2 .sf-menu li.submenu:hover ul li.selected ul li a:hover, .header.layout_2 .sf-menu li.submenu:hover ul li.current-menu-item ul li a:hover, .header.layout_2 .sf-menu li.submenu:hover ul li ul li.selected a, .header.layout_2 .sf-menu li.submenu:hover ul li ul li.current-menu-item a, .header.layout_2 .sf-menu li.submenu:hover ul li.selected ul li.selected a, .header.layout_2 .sf-menu li.submenu:hover ul li.selected ul li.current-menu-item a, .header.layout_2 .sf-menu li.submenu:hover ul li.menu-item-type-custom a:hover, .header.layout_2 .sf-menu li ul li.menu-item-type-custom a:hover
{
	border-bottom: 2px solid #42B3E5;
}
.header.layout_2 .sf-menu li.submenu:hover ul li.menu-item-type-custom a,
.header.layout_2 .sf-menu li.submenu:hover ul li.selected ul li a,
.header.layout_2 .sf-menu li.submenu:hover ul li.current-menu-item ul li a,
.header.layout_2 .sf-menu li ul li.menu-item-type-custom a
{
	border-bottom: 1px solid #E8E8E8;
}
.header.layout_2 .header_top_right_sidebar_container
{
	float: right;
}
/*.header.layout_3,
.header.layout_3 .header_left
{
	float: none;
	width: 622px;
	margin-left: auto;
	margin-right: auto;
}
.header.layout_3 .header_left
{
	width: 202px;
}*/
.header.layout_4 
{
	padding-bottom: 9px;
}
.header.layout_3 .header_left,
.header.layout_3 .menu-main-menu-container,
.header.layout_4 .header_left,
.header.layout_4 .menu-main-menu-container
{
	display: table;
	margin-left: auto;
	margin-right: auto;
}
.header.layout_3 .header_left,
.header.layout_4 .header_left,
.header.layout_4 .header_right
{
	clear: none;
    width: auto;
    float: none;   
}
.header.layout_4 .menu-main-menu-container
{
	margin-top: 30px;
}
/* --- menu --- */
.sf-menu
{
	padding: 0;
	margin: 0;
}
.sf-menu li
{
	margin-left: 5px;
	height: 45px;
}
.sf-menu li:first-child
{
	margin-left: 0;
}
.sf-menu li, .sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active
{
	background: none #fff;
}
.sf-menu li a, .sf-menu li a:visited
{
	font-family: 'arial';
	color: #888;
	border: 1px solid #FFF;
	padding: 15px;
}
.sf-menu li:hover a, .sf-menu li.selected a, .sf-menu li.current-menu-item a, .sf-menu li.current-menu-ancestor a
{
	color: #FFF;
	background: #42B3E5;
}
.sf-menu li.submenu:hover a
{
	color: #000;
	background: #FFF;
	border-color: #E8E8E8;
	border-bottom-color: #FFF;
}
.sf-menu li.submenu:hover:before
{
	content: "";
	position: absolute;
	display: block;
	bottom: 0;
	z-index: 203;
	width: 1px;
	height: 1px;
	background: #E8E8E8;
	left: 0;
}
.sf-menu li.submenu:hover:after
{
	content: "";
	position: absolute;
	display: block;
	bottom: 0;
	z-index: 202;
	width: 1px;
	height: 1px;
	background: #E8E8E8;
	right: 0;
}
.sf-menu li.submenu:hover a
{
	z-index: 202;
}
.sf-menu li ul
{
	width: 190px;
	background: #FFF;
	border: 1px solid #E8E8E8;
	padding-bottom: 10px;
}
.sf-menu li li.wide ul.sub-menu
{
	width: 200px;
}
.sf-menu li li.wide ul.sub-menu li
{
	width: 170px;
}
.sf-menu li.wide ul.sub-menu
{
	width: 380px;
}
.sf-menu li.gallery_menu ul.sub-menu
{
	margin-left: -100px;
}
.sf-menu li.gallery_menu ul.sub-menu ul.sub-menu
{
	margin-left: -362px;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul
{
	top: 44px;
}
.sf-menu li ul li
{
	width: 160px;
	height: auto;
	margin-left: 0;
	background-color: #fff;
	padding: 0 15px;
}
.sf-menu li:hover ul a,
.sf-menu li.submenu:hover ul a
{
	border: none;
	color: #888;
	background: #FFF;
	border-bottom: 1px solid #E8E8E8;
	padding: 15px 0;
}
.sf-menu li.submenu:hover ul
{
	z-index: 201;
}
.sf-menu li ul li a
{
	padding: 15px 0;
	font-size: 12px;
}
.sf-menu li ul li a:hover, .sf-menu li ul li.selected a, .sf-menu li ul li.current-menu-item a,
.sf-menu li.submenu ul li a:hover, .sf-menu li.submenu:hover ul li.selected a, .sf-menu li.submenu:hover ul li.current-menu-item a,
.sf-menu li.submenu:hover ul li.selected ul li a:hover,.sf-menu li.submenu:hover ul li.current-menu-item ul li a:hover, .sf-menu li.submenu:hover ul li ul li.selected a, .sf-menu li.submenu:hover ul li ul li.current-menu-item a, .sf-menu li.submenu:hover ul li.selected ul li.selected a, .sf-menu li.submenu:hover ul li.selected ul li.current-menu-item a,
.sf-menu li.submenu:hover ul li.menu-item-type-custom a:hover, .sf-menu li ul li.menu-item-type-custom a:hover
{
	border-bottom: 2px solid #42B3E5;
	color: #000;
	padding-bottom: 14px;
}
.sf-menu li.submenu:hover ul li.menu-item-type-custom a,
.sf-menu li.submenu:hover ul li.selected ul li a,
.sf-menu li.submenu:hover ul li.current-menu-item ul li a,
.sf-menu li ul li.menu-item-type-custom a
{
	color: #888;
	border-bottom: 1px solid #E8E8E8;
	padding-bottom: 15px;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul,
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul
{
	left: 180px;
	top: -1px;
}
.sf-menu .timetable_submenu .sub-menu
{
	margin-left: -280px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) 
{ 
	.sf-menu .timetable_submenu .sub-menu
	{
		margin-left: -279px;
	}
}
.mobile_menu
{
	display: none;
	float: right;
	padding: 12px 0;
}
.mobile_menu select
{
	border: 1px solid #E0E0E0;
}
.header.layout_2 .sf-menu li.menu_separator,
.header.layout_2 .sf-menu li.menu_separator:hover
{
	background-color: #E8E8E8;
	width: 1px;
	height: 26px;
	margin-top: 10px;
	margin-left: -1px;
	z-index: 1;
}
/* --- page --- */
.theme_page
{
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
	border-top: 8px solid #F0F0F0;
}
.theme_page.noborder
{
	border: none;
}
.page_left
{
	float: left;
	width: 630px;
}
.left_sidebar .page_left
{
	float: right;
}
.page_right
{
	float: right;
	width: 330px;
}
.left_sidebar .page_right
{
	float: left;
}
.page_margin_top
{
	margin-top: 30px;
}
.page_margin_top_section
{
	margin-top: 50px;
}
.top_hint
{
	position: relative;
	float: right;
	color: #FFF;
	background-color: #42B3E5;
	padding: 9px 10px;
	margin-top: -70px;
}
.page_right .home_box
{
	height: auto;
}
/* --- page header --- */
.page_header
{
	border-bottom: 1px solid #E8E8E8;
	padding-bottom: 30px;
}
.page_header_left
{
	float: left;
	width: 670px;
}
.page_header_right
{
	float: right;
}
.page_header_left .page_title
{
	float: left;
	line-height: 120%;
	margin-right: 20px;
}
/* --- search --- */
.search
{
}
.search input
{
	float: left;
	background: transparent;
	padding: 11px 18px;
	border: none;
	color: #666666;
	margin: 0;
}
.search .search_input
{
	width: 174px;
	background: #F0F0F0;
	border-top: 1px solid #E0E0E0;
	transition: width 0.5s;
	-moz-transition: width 0.5s; /* Firefox */
	-webkit-transition: width 0.5s; /* Safari and Chrome */
	-o-transition: width 0.5s; /* Opera */
}
.search .search_input::-webkit-input-placeholder,
.search .search_input:-moz-placeholder,
.search .search_input:-ms-input-placeholder
{
	color: #666666;
}
.search .search_input:focus
{
	width: 225px;
	border-color: #42B3E5;
	color: #000;
}
/* --- bread crumb --- */
.bread_crumb
{
	float: left;
	padding: 17px 0 0;
	margin: 0;
}
.bread_crumb li
{
	float: left;
	font-size: 11px;
	margin-left: 3px;
}
.bread_crumb li:first-child
{
	margin-left: 0;
}
.bread_crumb li.separator
{
	width: 8px;
	padding: 0 4px;
	text-decoration: none;
}
.bread_crumb li a:hover
{
	color: #3156A3;
}
/* --- footer --- */
.footer_container
{
	background-color: #202020;
}
.footer
{
	width: 990px;
	margin-left: auto;
	margin-right: auto;
}
.footer .box_header
{
	color: #FFF;
}
.footer a,
.footer a:hover
{
	color: #D5D5D5;
}
/* --- icons --- */
/* --- icon small arrow --- */
.icon_small_arrow
{
	background-position: center center;
	background-repeat: no-repeat;
}
.icon_small_arrow.left_black
{
	background-image: url('images/icon_arrow_left_black.png');
}
.icon_small_arrow.right_black
{
	background-image: url('images/icon_arrow_right_black.png');
}
.icon_small_arrow.margin_right_black
{
	background-image: url('images/icon_arrow_margin_right_black.png');
}
.icon_small_arrow.left_white
{
	background-image: url('images/icon_arrow_left_white.png');
}
.icon_small_arrow.margin_right_white
{
	background-image: url('images/icon_arrow_margin_right_white.png');
}
.icon_small_arrow.right_white
{
	background-image: url('images/icon_arrow_right_white.png');
}
.icon_small_arrow.top_white
{
	background-image: url('images/icon_arrow_top_white.png');
}
.icon_small_arrow.top_black
{
	background-image: url('images/icon_arrow_top_black.png');
}
.icon_small_arrow.right_gray
{
	background-image: url('images/icon_arrow_right_gray.png');
}
.icon_small_arrow.square
{
	background-image: url('images/icon_arrow_square.png');
}
.icon_small_arrow.mark
{
	background-image: url('images/icon_arrow_mark.png');
}
.icon_small_arrow.tick
{
	background-image: url('images/icon_tick.png');
}
/* --- icon clock --- */
.icon_clock_green
{
	background-image: url('images/icon_clock_green.png');
}
.icon_clock_black
{
	background-image: url('images/icon_clock_black.png');
}
/* --- icon card --- */
.icon_card_green
{
	background-image: url('images/icon_card_green.png');
}
.icon_card_white
{
	background-image: url('images/icon_card_white.png');
}
/* --- social icon --- */
.social_icon
{
	display: block;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	transition: background-position .3s ease;
	-moz-transition: background-position .3s ease;
	-webkit-transition: background-position .3s ease;
	-o-transition: background-position .3s ease; 
}
a.social_icon:hover, span.social_icon:hover
{
	transition: background-position .3s ease;
	-moz-transition: background-position .3s ease;
	-webkit-transition: background-position .3s ease;
	-o-transition: background-position .3s ease; 
	background-position: 0 -30px;
	text-decoration: none;
}
/* --- social_icons --- */
.social_icons
{
	margin-top: 30px;
}
.social_icons li
{
	float: left;
	margin-left: 5px;
}
.social_icons li:first-child
{
	margin-left: 0;
}
.social_icon.single
{
	float: left;
	margin-right: 5px;
}
.social_icon.single.last
{
	margin-right: 0;
}
/* --- header icons --- */
.header_icon
{
	display: block;
	float: left;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 23px;
	color: #909090;
	font-size: 12px;
}
.header_icon.empty_icon
{
	padding-top: 11px;
}
.header_icon.address
{
	background-image: url("images/header_address.png");
}
.header_icon.mail
{
	background-image: url("images/header_email.png");
}
.header_icon.phone
{
	background-image: url("images/header_phone.png");
	padding-left: 18px;
}
.top_header_icons 
{
	float: right;
}
/* --- notification boxes --- */
.notification_box
{
	padding: 20px 30px 20px 80px;
	line-height: 150%;
}
.notification_box h2,
.notification_box h2 a,
.notification_box h3,
.notification_box h3 a,
.notification_box h5,
.notification_box h5 a
{
	color: #FFF;
}
.notification_box h5
{
	font-family: arial;
	margin-top: 5px;
}
.notification_box.nb_success
{
	background: url('images/icons_notification/info.png') no-repeat 20px center #5FAA4B;
}
.notification_box.nb_error
{
	background: url('images/icons_notification/cross.png') no-repeat 20px center #EB6D58;
}
.notification_box.nb_info
{
	background: url('images/icons_notification/info.png') no-repeat 20px center #42B3E5;
}
.closing_in
{
	display: block;
	float: right;
	margin-top: 5px;
	color: #909090;
	font-size: 11px;
}
/* --- vertical align --- */
.vertical_align
{
	display: table-row;
}
.vertical_align_cell
{
	display: table-cell;
	vertical-align: middle;
}
/* --- slider --- */
.caroufredsel_wrapper
{
	width: 100% !important;
	margin: 0 !important;
	overflow: hidden;
}
.caroufredsel_wrapper_slider
{
	/*top: 65px !important;*/
}
.slider
{
	/*position: absolute;*/
	padding: 0;
}
.slider li
{
	float: left;
	height: 670px;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.slider li .slider_img
{
	position: relative;
	height: 100%;
	top: 0;
	left: 0;
}
/* --- slider content --- 
*/

.slider_content_box
{
	margin-top: -577px;
	min-height: 580px;
	position: relative;
	z-index: 20;
}


.slider_content
{
	display: none;
	padding-top: 11px;
	padding-bottom: 17px;
}
.slider_content:after
{
	content: "";
}
.slider_content .subtitle
{
	margin-top: 19px;
	line-height: 150%;
	color: #FFF;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}



.slider_content h1 {
  font-size: 32px;
  line-height: 1;
  color: #FFF;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}

/* --- slider navigation --- */
.slider_navigation
{
	position: absolute;
	clear: both;
	width: 100%;
	bottom: 0;
	z-index: 1;
}
.slider_navigation .slider_control
{
	float: left;
}
.slider_navigation .slider_control a
{
	display: block;
	height: 41px;
	font-size: 11px;
	padding: 0;
	color: #FFF;
	line-height: 160%;
}
.slider_navigation .slider_control a:hover
{
	text-decoration: none;
}
.slider_navigation .top_border
{
	display: block;
	width: 100%;
	height: 1px;
	background: #FFF;
	opacity: 0.4;
	filter: alpha(opacity = 40);
}
.slider_navigation .slider_control .slider_control_bar
{
	display: none;
	background-color: #FFFFFF;
    height: 4px;
    margin-top: -4px;
}
.slider_navigation .slider_bar
{
	position: relative;
	height: 4px;
	margin-left: 0;
	margin-bottom: -1px;
	background: #FFF;
}
/* --- home box --- */
.home_box_container_list
{
	z-index: 20;
	position: relative;
}
.home_box_container_list.margin_minus
{
	margin-top: -210px;
}
.home_box_container
{
	float: left;
	padding: 21px 30px 30px;
	list-style: none;
	z-index: 2;
}
.home_box_container:first-child
{
	z-index: 3;
}
.home_box_container:last-child
{
	z-index: 1;
}
.home_box
{
	width: 270px;
	height: 159px;
}
.home_box h2,
.home_box h2 a
{
	color: #FFF;
}
.home_box h3
{
	font-style: italic;
	color: #FFF;
	margin-top: 5px;
}
.home_box .header_left
{
	width: 198px;
}
.home_box .header_right
{
	width: 62px
}
.home_box .news
{
	margin-top: 21px;
	line-height: 150%;
}
.home_box .news .text
{
	padding: 0;
	color: #FFF;
}
.home_box .more
{
	margin-top: 25px;
}
.home_box .more.light
{
	color: #FFF;
}
.home_box .more.light:hover
{
	background-image: url('images/icon_arrow_margin_right_black.png');
}
/* --- items list --- */
.items_list
{
	
}
.items_list.margin_top
{
	margin-top: 8px;
}
.items_list li
{
	padding: 12px 0;
	border-bottom: 1px solid #E0E0E0;
	background-position: left center;
	background-repeat: no-repeat;
	line-height: 120%;
}
.items_list li:first-child
{
	padding-top: 0;
}
.items_list li.icon_clock_black
{
	padding-left: 25px;
}
.items_list li.icon_clock_black:first-child
{
	padding-top: 12px;
	/*background-position: left 0;*/
}
.items_list a, .items_list span
{
	float: left;
	color: #000;
	font-weight: bold;
}
.items_list.thin a, .items_list.thin span
{
	font-weight: normal
}
.items_list .value
{
	float: right;
	color: #666;
}
.items_list.opening_hours li span, .items_list.opening_hours .value
{
	color: #FFF;
}
.items_list.opening_hours li
{
	border-color: #4468B2;
}
.home_box .items_list li:first-child
{
	padding-top: 12px;
}
/* --- scrolling list --- */
.scrolling_list_wrapper
{
	margin-top: 16px;
}
.scrolling_list
{
	width: 100% !important;
}
.scrolling_list_control_left, .scrolling_list_control_right
{
	float: left;
	width: 28px;
	height: 28px;
}
.scrolling_list_control_right
{
	margin-left: 2px;
}
.scrolling_list li
{
	width: auto;
	color: #C5C5C5;
	background-position: left 18px;
	padding: 10px 0 10px 18px;
	line-height: 150%;
}
.scrolling_list li a
{
	clear: both;
	/*float: left;*/
	color: #666;
	border: none;
}
.scrolling_list li .left
{
	color: #666;
}
.footer .scrolling_list li a
{
	color: #D5D5D5;
}
.scrolling_list.latest_tweets li a
{
	float: none;
}
.scrolling_list.latest_tweets li p
{
	padding: 0;
}
.scrolling_list li .left
{
	float: left;
}
.scrolling_list li .number
{
	float: right;
	width: 30px;
	color: #666;
    padding: 8px 0;
	margin-left: 5px;
	font-size: 11px;
	text-align: center;
	line-height: 1;
}
.footer .timeago
{
	color: #42B3E5;
}
.timeago
{
	clear: both;
	display: block;
	margin-top: 2px;
	font-size: 11px;
	color: #909090;
}
.columns.full_width .scrolling_list li
{
	width: 462px;
}
.columns.full_width .scrolling_list li .left
{
	width: 425px;
}
/* --- more --- */
.more
{
	float: left;
	color: #3156A3;
	line-height: normal;
}
.more.dark_blue,
.more.light,
.more.blue,
.more.mc_button
{
	padding: 5px 8px 7px;
	background-position: right center;
	color: #FFF;
	border: 1px solid #FFF;
}
.more.dark_blue:hover,
.more.light:hover,
.more.blue:hover,
.more.mc_button:hover
{
	text-decoration: none;
}
.more.dark_blue,
.more.blue:hover
{
	background-color: #42B3E5;
	border: 1px solid #42B3E5;
}
.more.dark_blue:hover
{
	background-color: #3156A3;
	border-color: #3156A3;
}
.more.light
{
	color: #666;
	border-color: #FFF;
}
.more.light:hover
{
	background-color: #FFF;
	color: #000;
	border-color: #FFF;
}
.more.blue
{
	border-color: #3156A3;
	background-color: #3156A3;
}
.more.tiny
{
	padding: 4px 8px;
	font-size: 11px;
}
.more.medium
{
	padding: 9px 15px;
}
.more.large
{
	padding: 15px 20px;
	font-size: 15px;
}
.more.icon_small_arrow
{
	padding: 5px 24px 7px 8px;
}
.more.icon_small_arrow.tiny
{
	padding: 4px 24px 4px 8px;
}
.more.icon_small_arrow.medium
{
	padding: 9px 24px 9px 15px;
}
.more.icon_small_arrow.large
{
	padding: 15px 24px 15px 20px;
}
/* --- blog --- */
.blog
{
}
.comment_box
{
	float: left;
	width: 85px;
	text-align: center;
	margin-right: 25px;
}
.columns .comment_box
{
	clear: both;
	width: 100%;
	margin-bottom: 25px;
	margin-right: 0;
}
.post
{
	float: left;
	margin-top: 30px;
}
.comment_box li
{
	width: 100%;
	text-align: left;
}
.columns .comment_box li
{
	float: left;
	width: auto;
}
.comment_box .date
{
	position: relative;
}
.comment_box .date .value
{
	float: left;
	width: 60px;
	background-color: #3156A3;
	color: #FFF;
	padding: 9px 10px;
	font-size: 11px;
	text-align: center;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.comment_box .date .arrow_date
{
	border-color: #3156A3 transparent;
}
.comment_box .arrow_comments
{
	border-color: #42B3E5 transparent;
}
.comment_box .date .arrow_date,
.comment_box .arrow_comments
{
	content: '';
	display: inline;
	visibility: visible;
	position: absolute;
	border-style: solid;
	border-width: 5px 5px 0 0;
	right: 0;
}
.columns .comment_box .date .value
{
	clear: both;
	float: none;
	width: auto;
	padding: 10px 13px;
}
.columns .comment_box .date .arrow_date
{
	left: 0;
	right: auto;
}
.comment_box .comments_number
{
	position: relative;
	width: 80px;
	margin-top: 2px;
}
.columns .comment_box .comments_number
{
	width: auto;
	margin-left: 2px;
	margin-top: 0;
}
.comment_box .comments_number a
{
	display: block;
	text-align: center;
	font-size: 11px;
	background-color: #42B3E5;
	padding: 9px 10px;
	color: #FFF;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.columns .comment_box .comments_number a
{
	padding: 10px 12px;
}
.comment_box .comments_number:hover
{
	border-color: #409915;
}
.post_content
{
	float: right;
	/*width: 520px;*/
	width: 100%;
	padding-bottom: 25px;
	border-bottom: 1px solid #E0E0E0;
}
.columns .post_content,
.columns .post_content a.post_image img,
.columns .post_content .image_carousel img,
.columns .post_content .image_carousel .mc_preloader
{
	width: 300px;
}
.post_content a.post_image
{
	display: block;
	margin-bottom: 27px;
}
.post_content a.post_image img
{
	display: block;
	/*width: 520px;*/
	width: 100%;
	height: auto;
	min-height: 15px;
}
.post_content .gallery_box
{
	margin-top: 0;
	margin-bottom: 27px;
}
.post_content .gallery_box img
{
	/*width: 520px;*/
	width: 100%;
	max-width: none;
	height: auto;
}
.post_content h2
{
	margin-bottom: 24px;
	line-height: 120%;
}
.post_content p, .columns .post_content p
{
	line-height: 150%;
	padding-top: 0;
	padding-bottom: 1em;
}
.post_content blockquote p
{
	padding: 0;
}
.post_content .more,
.simple .more
{
	clear: both;
	float: none;
	line-height: 150%;
}
.simple .more
{
	margin-left: 5px;
}
.simple .more_container
{
	padding-top: 1em;
}
.post_footer
{
	margin-top: 25px;
}
.post_footer_details
{
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
}
.post_footer_details:last-child
{
	margin-right: 0;
}
.post_footer_details li
{
	float: left;
	font-size: 11px;
	color: #909090;
	margin-right: 5px;
}
.post_footer_details li:last-child
{
	margin-right: 0;
}
.simple .post_footer
{
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 25px;
	margin-top: 25px;
}
.show_all
{
	margin-top: 20px;
}
.show_all a
{
	float: right;
}
/* --- comments --- */
.comments .comments_number a
{
	float: left;
	width: 60px;
}
.comments .comment_box .comments_number
{
	width: 85px;
	margin-top: 0;
	margin-left: 0;
}
#comments_list
{
	float: right;
}
#comments_list li.comment
{
	margin-top: 30px;
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 30px;
}
#comments_list li.comment:first-child
{
	margin-top: 0;
}
#comments_list .comment_author_avatar
{
	float: left;
	width: 73px;
	height: 73px;
	margin-right: 30px;
	border: 1px solid #E0E0E0;
}
#comments_list .comment_details
{
	float: left;
	width: 435px;
}
#comments_list .comment_details .posted_by,
.bypostauthor
{
	font-size: 11px;
	color: #909090;
	line-height: 140%;
}
#comments_list .comment_details .posted_by a
{
	border: none;
}
#comments_list .comment_details p
{
	color: #666;
	line-height: 150%;
	padding: 20px 0;
}
#comments_list .reply_button
{
	line-height: 150%;
}
#comments_list .children
{
	clear: both;
	float: left;
	margin-left: 40px;
	margin-top: 30px;
}
#comments_list .children .children
{
	margin-left: 0;
}
#comments_list .children li.comment
{
	width: 100%;
	border-bottom: none;
	border-top: 1px solid #E0E0E0;
	padding-top: 30px;
	margin-top: 0;
}
#comments_list .children li.comment:last-child
{
	padding-bottom: 0;
}
#comments_list .children .comment_details
{
	width: 395px;
}
#comments_list .pagination
{
	margin-top: 20px;
}
/* --- forms --- */
.comment_form_container
{
	float: left;
	margin-left: 110px;
	margin-top: 25px;
}
.comment_form,
.contact_form
{
	float: left;
	width: 100%;
	margin-top: 30px;
}
.comment_form .left, .comment_form .right,
.contact_form .left, .contact_form .right
{
	float: left;
}
.comment_form .right
{
	float: right;
	margin-left: 20px;
}
.contact_form .right
{
	margin-left: 30px;
}
.comment_form label,
.contact_form label
{
	display: block;
	color: #909090;
	margin-top: 10px;
	margin-bottom: 10px;
}
.comment_form label.first,
.contact_form label.first
{
	margin-top: 0;
}
.comment_form input, .comment_form textarea,
.contact_form input, .contact_form textarea
{
	padding: 11px 18px;
	color: #000;
	margin: 0;
	background: #F0F0F0;
	border: none;
	border-top: 1px solid #E0E0E0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.comment_form .text_input:focus, .comment_form textarea:focus,
.contact_form .text_input:focus, .contact_form textarea:focus
{
	border-color: #42B3E5;
}
.comment_form textarea
{
	width: 224px;
	height: 160px;
}
.contact_form textarea
{
	width: 614px;
}
.comment_form .text_input
{
	width: 224px;
}
.contact_form .block
{
	margin-top: 10px;
}
.contact_form .text_input
{
	width: 274px;
}
.comment_form .text_input:first-child,
.contact_form .block:first-child
{
	margin-top: 0;
}
.comment_form input[type='submit'],
.contact_form input[type='submit']
{
	float: right;
	width: 70px;
	height: 36px;
	margin-top: 20px;
	padding: 5px 0 7px;
	cursor: pointer;
	text-align: center;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.comment_form .mc_button,
.contact_form .mc_button
{
	border-color: #3156A3;
	background-color: #3156A3;
}
.comment_form .mc_button:hover,
.contact_form .mc_button:hover
{
	background-color: #42B3E5;
	border: 1px solid #42B3E5;
}
#cancel_comment
{
	display: none;
	float: right;
	font-size: 11px;
	margin-top: 32px;
	margin-right: 20px;
}
.contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected
{
	width: 286px;
	background-position: 285px center;
}
/* --- pagination --- */
.pagination
{
	float: right;
}
.pagination li
{
	float: left;
	margin-left: 2px;
}
.pagination li:first-child
{
	margin-left: 0;
}
.pagination li a,
.pagination li span
{
	display: block;
	height: 12px;
	color: #666;
	padding: 9px 11px 7px;
	font-size: 11px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
/* --- sidebar box --- */
.sidebar_box
{
	float: left;
	/*width: 330px;*/
	width: 100%;
	margin-top: 50px;
	overflow: hidden;
}
.sidebar_box.first,
.sidebar_box:first-child
{
	margin-top: 0;
}
.sidebar_box .header_left, .footer_box.last .header_left, .footer_box:last-child .header_left
{
	width: 248px;
}
.footer_box .header_left
{
	width: 238px;
}
.sidebar_box .header_right, .footer_box .header_right
{
	width: 62px;
}
.sidebar_box .accordion
{
	margin-top: 30px;
}
.sidebar_box .accordion .item_content p
{
	padding: 0;
}
/* --- categories --- */
.widget_categories ul
{
	clear: both;
	float: left;
	margin: 30px 0 0;
	padding: 0;
}
.categories li, .widget_categories li
{
	float: left;
	font-size: 11px;
	color: #666;
	margin-right: 2px;
	margin-bottom: 2px;
}
.categories li:last-child, .widget_categories li:last-child
{
	margin-right: 0;
}
.categories li a, .widget_categories li a
{
	display: block;
	color: #666;
	padding: 8px 9px;
}
/* --- departments --- */
.accordion .ui-accordion-header h3
{
	color: #666;
	background: url('images/accordion/accordion_plus.png') no-repeat right center;
	padding-right: 13px;
}
.accordion .ui-accordion-header,
.wpb_content_element .accordion div.ui-accordion-header
{
	cursor: pointer;
	padding: 12px 13px 12px 0;
	border-bottom: 1px solid #E0E0E0;
	background: transparent;
	color: #666;
	transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
}
.accordion .ui-accordion-header.ui-state-hover,
.wpb_content_element .accordion .ui-accordion-header.ui-state-hover:hover
{
	background: none;
}
.accordion .ui-accordion-header.ui-state-hover h3
{
	color: #3156A3;
}
.wpb_content_element .accordion .ui-accordion-header.ui-state-active,
.wpb_content_element .accordion .ui-accordion-header.ui-state-active.ui-state-hover,
.accordion .ui-accordion-header.ui-state-active
{
	border-bottom: 1px solid #3156A3;
	background: #3156A3;
	padding: 10px 12px;
	margin-top: -1px;
}
.accordion .ui-accordion-header.ui-state-active h3
{
	background: url('images/accordion/accordion_minus.png') no-repeat right center !important;
	color: #FFF !important;
}
.accordion .ui-accordion-content
{
	padding: 25px 0;
	color: #666;
	line-height: 150%;
}
.accordion.wide .ui-accordion-content
{
	padding: 0 0 30px;
}
.accordion.wide .tabs_navigation
{
	margin-bottom: 30px;
}
.item_footer
{
	margin-top: 25px;
	line-height: 1;
}
.accordion .ui-accordion-content .item_footer .more.blue
{
	float: right;
	margin-right: 2px;
}
.accordion .ui-accordion-content .item_footer .more.blue:first-child
{
	margin-right: 0;
}
.accordion.wide .about_img
{
	width: 500px;
	height: auto;
	margin-bottom: 23px;
}
/* --- item content --- */
.item_content
{
	margin-top: 30px;
	list-style: none;
}
.page_margin_top.item_content:first-child
{
	margin-top: 30px;
}
.item_content:first-child
{
	margin-top: 0;
}
.item_content .text
{
	color: #666;
}
.item_content .text h3
{
	margin-bottom: 10px;
}
.features_image,
.features_image img
{
	display: block;
	width: 76px;
	height: 88px;
}
.item_content .thumb_image, .item_content .thumb_image img
{
	display: block;
	width: 96px;
	height: 96px;
}
.item_content .thumb_image,
.features_image
{
	float: left;
	margin-right: 30px;
}
.sidebar_box .accordion .item_content .thumb_image,
.sidebar_box .accordion .item_content .features_image
{
	margin-right: 20px;
}
.item_content .text
{
	/*float: right;*/
	line-height: 150%;
}
.item_content .text p
{
	padding: 0;
	clear: none;
}
/* --- tabs --- */
.ui-tabs-hide
{
	display: none;
}
.ui-tabs-panel p
{
	padding: 24px 0 25px;
}
/* tabs navigation */
.tabs_navigation
{
	float: none;
	clear: both;
	width: 100%;
}
.tabs_navigation li
{
	float: left;
	margin-top: 0;
	margin-right: 20px;
}
.tabs_navigation li:last-child
{
	margin-right: 0;
}
.tabs_navigation li a
{
	width: auto;
	display: block;
	text-align: center;
	color: #666;
	padding: 8px 0;
	border-bottom: 1px solid #E0E0E0;
}
.tabs_navigation li a:hover,
.tabs_navigation li a.selected,
.tabs_navigation li.ui-tabs-active a
{
	border-bottom-width: 2px;
	padding-bottom: 7px;
}
/* --- tabs box navigation --- */
.tabs_box_navigation.sf-menu
{
	float: none;
	clear: both;
}
.tabs_box_navigation.sf-menu ul.sub-menu
{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.tabs_box_navigation.sf-menu li.submenu:hover:after
{
	background: none;
}
.tabs_box_navigation.sf-menu .tabs_box_navigation_selected
{
	width: 256px;
	height: auto;
    padding: 13px 12px;
	background: url("images/dropdown_plus.png") no-repeat scroll 255px center #3156A3;
    color: #FFFFFF;
	cursor: pointer;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.tabs_box_navigation.sf-menu .tabs_box_navigation_selected:hover
{
	background-color: #42B3E5;
	background-image: url("images/accordion/accordion_minus.png"); 
}
.tabs_box_navigation.sf-menu li:hover ul, .tabs_box_navigation.sf-menu li.sfHover ul
{
	top: 38px;
	border: 1px solid #42B3E5;
}
.tabs_box_navigation_hidden
{
	display: none;
}
/* --- columns --- */
.columns
{
}
.column_left, .column_right
{
	width: 300px;
}
.column_left
{
	float: left;
	margin-right: 30px;
}
.column_right
{
	float: right;
}
.columns p
{
	clear: both;
	padding: 25px 0;
}
.columns.full_width .column_left,
.columns.full_width .column_right
{
	width: 480px;
}
.columns.no_width .column_left,
.columns.no_width .column_right
{
	width: auto;
}
.columns.no_width .column_left
{
	margin-right: 0;
}
.columns.full_width .columns .column_left,
.columns.full_width .columns .column_right
{
	width: 225px;
}
.page_right .columns .column_left,
.page_right .columns .column_right
{
	width: 132px;
}
/* --- columns_3 --- */
.columns_3 .column
{
	float: left;
	width: 310px;
	margin-left: 30px;
}
.columns_3 .column:first-child
{
	margin-left: 0;
}
.columns_3 .item_content .features_image, .columns_3 .features_image img,
.mc_features_small .item_content .features_image, .mc_features_small .features_image img,
.features_icons_small .features_image, .features_icons_small .features_image img,
.features_image_small, .features_image_small img
{
	width: 57px;
	height: 66px;
	margin-bottom: 5px;
}
/* --- dropcap --- */
.dropcap
{
	line-height: 150%;
}
.dropcap .dropcap_label
{
	float: left;
	padding: 7px 13px;
	background-color: #3156A3;
	text-align: center;
	margin-right: 15px;
}
.dropcap .dropcap_label h3
{
	color: #FFF;
}
div.dropcap p
{
	padding: 0;
}
/* --- list --- */
.simple_list
{
	clear: both;
	padding: 25px 0;
}
.simple_list li
{
	line-height: 150%;
	background-position: left center;
	padding: 5px 0 5px 18px;
}
.simple_list li a
{
	border: none;
}
.simple_list.top_marker li
{
	background-position: left 8px;
}
.sidebar_box .simple_list
{
	padding-bottom: 0;
}
/* --- thin list --- */
.thin_list li
{
	float: left;
	margin-right: 15px;
	margin-top: 10px;
}
/* --- top info list --- */
.top_info_list li
{
	float: left;
	color: #909090;
	font-size: 13px;
}
.top_info_list li .value
{
	color: #000;
	font-family: 'PT Sans';
	font-size: 18px;
	margin-top: 5px;
}
.top_info_list li.separator
{
	width: 1px;
	height: 80px;
	background: #E8E8E8;
	margin-left: 35px;
	margin-right: 35px;
	margin-top: -20px;
}
/* --- info list --- */
.info_list li
{
	padding: 10px 0;
	border-bottom: 1px solid #E0E0E0;
	line-height: 150%;
}
.info_list li:first-child
{
	padding-top: 0;
}
.info_list li label
{
	float: left;
	width: 92px;
	color: #000;
	font-weight: bold;
}
.info_list li .text
{
	float: left;
	width: 388px;
	color: #666;
}
.accordion.wide .columns .info_list li .text
{
	width: 208px;
}
/* --- announcement --- */
.announcement
{
	background: #F0F0F0;
	padding: 20px 30px;
}
.announcement p
{
	padding: 10px 0;
}
.announcement .vertical_align
{
	height: 69px;
}
/* --- pricing plan --- */
.pricing_plan
{
	clear: both;
	float: left;
	margin-top: 13px;
}
.pricing_plan li
{
	width: 217px;
	padding-left: 18px;
}
/* --- timetable --- */
.timetable
{
	width: 100%;
	font-size: 11px;
	color: #666;
	margin-top: 30px;
}
.timetable tbody tr
{
	background: url('images/dotted_line.png') left top repeat-x;
}
.timetable th,
.timetable td:first-child
{
	text-align: center;
	vertical-align: middle;
}
.timetable th
{
	width: 12.5%;
	padding: 10px 15px 12px;
}
.timetable .event_container
{
	padding: 10px 15px 12px;
}
.timetable td
{
	width: 12.5%;
	vertical-align: top;
	height: 31px;
	/*height: 100px;*/
}
.timetable .last
{
	padding: 10px 0 0 15px;
}
.timetable .hours
{
	color: #A6C3FF;
}
.timetable .event
{
	background-color: #3156A3;
	color: #FFF;
	border-bottom: 1px solid #FFF;
	border-right: 1px solid #FFF;
	line-height: 140%;
}
.timetable .event a
{
	display: block;
	color: #FFF;
	font-weight: bold;
	margin-bottom: 2px;
}
.timetable .row_gray
{
	background-color: #F0F0F0;
}
.timetable .event.tooltip:hover,
.timetable .event .event_container.tooltip:hover
{
	background-color: #42B3E5;
}
.timetable .event.tooltip:hover .hours,
.timetable .event .event_container.tooltip:hover .hours
{
	color: #FFF;
}
.timetable.small
{
	display: none;
	font-size: 13px;
}
/* --- tip/tooltip/qtip --- */
.tip
{
	background: url('images/icon_tip.png') #3156A3 no-repeat 15px center;
	color: #FFF;
	padding: 10px 10px 10px 35px;
	float: right;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
.tooltip
{
	cursor: pointer;
}
.tooltip .tooltip_text
{
	display: block;
	/*padding-bottom: 15px;*/
	visibility: hidden;
    opacity: 0;
	position: absolute;
	z-index: 1000;
	left: -19px;
	bottom: 100%;
	/* CSS3 Transitions */
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-o-transition-duration: 0.25s;
	-ms-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	-moz-transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	-o-transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	-ms-transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	/* CSS3 Transitions */
	-webkit-transition-property: opacity, visibility;
	-moz-transition-property: opacity, visibility;
	-o-transition-property: opacity, visibility;
	-ms-transition-property: opacity, visibility;
	transition-property: opacity, visibility;
	/*background: url('images/tooltip_arrow.png') no-repeat 15px bottom;*/
}
.tooltip .tooltip_content
{
	background: #42B3E5;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px 15px 12px;
	line-height: 150%;
	font-family: arial, sans-serif;
	font-size: 11px;
	text-align: left;
}
.tooltip:hover .tooltip_text
{	
	visibility: visible;
	opacity: 1;
}
.tooltip .tooltip_arrow
{
	content: '';
	position: relative;
	border-color: #42B3E5 transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	bottom: -4px;
	left: 10px;
}
.ui-tooltip-error .ui-tooltip-content,
.ui-tooltip-success .ui-tooltip-content
{
	font-size: 13px;
	font-family: arial;
	color: #FFF;
}

.ui-tooltip-error .ui-tooltip-content,
.ui-tooltip-success .ui-tooltip-content
{
	border:none; 
}

.ui-tooltip-content
{
	padding:10px 20px 10px 20px;
}

.ui-tooltip-error .ui-tooltip-content
{
	background:#E9431C;
}

.ui-tooltip-success .ui-tooltip-content
{
	background:#61911B;
}
/* --- controls --- */
.controls
{
	padding: 0;
}
.controls li
{
	float: left;
}
.controls .open_details, .controls .open_lightbox, .controls .open_video_lightbox, .controls .open_iframe_lightbox, .controls .open_url_lightbox, .controls .close, .controls .prev, .controls .next
{
	display: block;
	width: 40px;
	height: 40px;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.controls .close, .controls .prev, .controls .next
{
	width: 30px;
	height: 30px;
	border: 1px solid #E0E0E0;
	background-position: center;
}
.controls .open_details:hover, .controls .open_lightbox:hover, .controls .open_video_lightbox:hover, .controls .open_iframe_lightbox:hover, .controls .open_url_lightbox:hover
{
	background-position: 0 -40px;
}
.controls .close
{
	background-image: url('images/close_icon.png');
}
.slider_navigation .more
{
	display: none;
}
/* --- isotope gallery --- */
.isotope-item 
{
	z-index: 2;
}
.isotope-hidden.isotope-item 
{
	pointer-events: none;
	z-index: 1;
}
.isotope,
.isotope .isotope-item 
{
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope 
{
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item 
{
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:         top, left, opacity;
	transition-property:         transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition 
{
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
.mc_gallery
{
	margin-left: auto;
	margin-right: auto;
}
.mc_gallery .gallery_box
{
	float: left;
	/*width: 225px; width in gallery not needed*/
}
.gallery_box
{
	display: block;
	position: relative;
	cursor: pointer;
	margin-top: 30px;
	overflow: hidden;
}
.gallery_4_columns .gallery_box
{
	width: 225px;
}
.accordion .gallery_box
{
	margin-top: 0;
}
.gallery_box img
{
	display: none;
	width: 225px;
	height: 150px;
}
.gallery_box .mc_preloader
{
	width: 225px;
	height: 150px;
}
.gallery_2_columns .gallery_box
{
	width: 480px;
}
.gallery_2_columns .gallery_box img,
.gallery_2_columns .gallery_box .mc_preloader
{
	width: 480px;
	height: 300px;
}
.gallery_3_columns .gallery_box
{
	width: 310px;
}
.gallery_3_columns .gallery_box img,
.gallery_3_columns .gallery_box .mc_preloader
{
	width: 310px;
	height: 200px;
}
.accordion.wide .gallery_box img
{
	width: 300px;
	height: 190px;
}
.accordion.wide .gallery_box .mc_preloader
{
	width: 300px;
}
.gallery_box .description
{
	position: relative;
	z-index: 1;
	background-color: #F0F0F0;
	padding: 15px;
	background-position: 220px center;
	text-align: center;
	line-height: normal;
}
.mc_gallery .description h3,
.gallery_box .description h3,
.gallery_box .description h5
{
	font-family: 'arial';
	font-size: 13px;
}
.mc_gallery .description h3,
.gallery_box .description h3
{
	font-weight: bold;
}
.gallery_box .description h5
{
	margin-top: 5px;
	color: #666666;
}
.gallery_box:hover .description
{
	background-color: #42B3E5;
}
.gallery_box:hover h3,
.gallery_box:hover h5
{
	color: #FFF;
}
.gallery_box .controls
{
	display: none;
	position: absolute;
	padding: 10px;
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3F000000,endColorstr=#3F000000)";/* IE8 */    
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3F000000,endColorstr=#3F000000);/* IE6 & 7 */ 
	background: rgba(0, 0, 0, 0.25);
	zoom: 1;
}
.gallery_box:hover .controls
{
	display: block;
}
.gallery_box .item_details
{
	border-bottom: 1px solid #E0E0E0;
	color: #666666;
	text-align: center;
	line-height: 150%;
	padding: 20px 0;
}
.gallery_box:hover .item_details
{
	border-color: #42B3E5;
	border-width: 2px;
	padding-bottom: 19px;
}
.gallery_box .item_details p
{
	padding: 0;
}
.gallery_box .social_icons,
.gallery_item_details_list .social_icons
{
	margin-top: 10px;
}
.gallery_item_details_list
{
	padding-bottom: 30px;
	border-bottom: 1px solid #E0E0E0;
}
ul.gallery_item_details_list
{
	height: 0;
	overflow: hidden;
	display: none;
}
ul.gallery_item_details_list.not_hidden
{
	display: block;
	height: 100%;
	padding-bottom: 0;
	border-bottom: none;
}
.gallery_item_details_list li.gallery_item_details
{
	display: none;
	position: relative;
}
.gallery_item_details_list.not_hidden li.gallery_item_details
{
	display: block;
	margin-top: 30px;
}
.gallery_item_details_list.not_hidden li.gallery_item_details:first-child
{
	margin-top: 0;
}
.gallery_item_details_list .gallery_box
{
	width: 480px;
	margin-right: 30px;
	margin-top: 0;
}
.gallery_item_details_list .details_box
{
	width: 480px;
}
.gallery_item_details_list .details_box .controls li
{
	margin-left: 2px;
}
.gallery_item_details_list .details_box .controls li:first-child
{
	margin-left: 0;
}
.gallery_item_details_list .gallery_box img
{
	display: block;
	width: 480px;
	height: auto;
}
.gallery_item_details_list .mc_preloader
{
	width: 480px;
}
.gallery_item_details_list .gallery_box .slider_navigation,
.post_content .gallery_box .slider_navigation
{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
.gallery_item_details_list .gallery_box .slider_navigation .slider_control,
.post_content .gallery_box .slider_navigation .slider_control,
.gallery_item_details_list .gallery_box .slider_control a,
.post_content .gallery_box .slider_control a
{
	height: 30px;
}
.gallery_item_details_list .details_box p
{
	clear: both;
	color: #666666;
	line-height: 150%;
	padding: 20px 0;
}
.gallery_item_details_list .details_box .columns
{
	clear: both;
}
.gallery_item_details_list .details_box .column_left,
.gallery_item_details_list .details_box .column_right
{
	width: 210px;
}
.gallery_item_details_list .details_box .simple_list
{
	line-height: 150%;
	color: #C5C5C5;
}
.page_left .gallery_item_details_list .gallery_box
{
	width: 630px;
	margin-right: 0;
}
.page_left .gallery_item_details_list .column_right
{
	margin-top: 30px;
}
.page_left .gallery_item_details_list .details_box
{
	width: 630px;
}
.page_left .gallery_item_details_list .gallery_box img
{
	width: 630px;
	height: auto;
}
.page_left .gallery_item_details_list .mc_preloader
{
	width: 630px;
}
/* --- small slider --- */
.small_slider .image_carousel img
{
	width: 100%;
	height: auto;
}
.small_slider.gallery_box .slider_navigation
{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
.small_slider.gallery_box
{
	margin-top: 0;
}
/* --- photostream --- */
.photostream
{
	/*width: 340px;*/
	clear: both;
	margin-top: 20px;
}
.photostream .gallery_box
{
	/*float: left;*/
	margin-top: 11px;
}
.photostream .gallery_box img
{
	display: block;
	width: auto;
	height: auto;
	/*width: 75px;
	height: 75px;*/
}
/* --- scrolling gallery --- */
.mc_gallery.horizontal_carousel li.gallery_box
{
	float: left;
	margin-right: 30px;
}
.mc_gallery.horizontal_carousel li.gallery_box img
{
	display: block;
}
/* --- image carousel --- */
.image_carousel li
{
	float: left;
}
/* --- fancybox --- */
#fancybox-title-inside
{
	margin-top: -2px;
	text-align: left;
	color: #666;
}
#fancybox-title-inside a
{
	font-size: 12px;
	color: #000;
}
/* --- contact data --- */
.contact_data li
{
	padding: 10px 0;
	color: #666;
	border-bottom: 1px solid #E0E0E0;
}
.contact_data li:first-child
{
	border-top: 1px solid #E0E0E0;
}
.contact_data li .social_icon
{
	float: left;
}
.contact_data li:hover .social_icon
{
	transition: background-position .3s ease;
	-moz-transition: background-position .3s ease;
	-webkit-transition: background-position .3s ease;
	-o-transition: background-position .3s ease; 
	background-position: 0 -30px;
}
.contact_data li .value
{
	float: left;
	clear: none;
	padding: 5px 0;
	margin-left: 10px;
}
/* --- footer banner box --- */
.footer_banner_box_container
{
}
.footer_banner_box_container .footer_banner_box:first-child
{
	z-index: 3;
}
.footer_banner_box_container .footer_banner_box:last-child
{
	z-index: 1;
}
.footer_banner_box
{
	float: left;
	width: 270px;
	height: 60px;
	padding: 20px 30px;
	list-style: none;
	z-index: 2;
}
.footer_banner_box h2,
.footer_banner_box h2 a
{
	color: #FFF;
}
.footer_banner_box a
{
	color: #FFF;
	background-position: right center;
	padding-right: 17px;
}
.footer_banner_box a:hover
{
	color: #FFF;
}
.footer_banner_box p
{
	color: #FFF;
}
.footer_banner_box.super_light_blue
{
	background-color: #42B3E5;
}
.footer_banner_box.light_blue
{
	background-color: #0384CE;
}
.footer_banner_box.blue
{
	background-color: #3156A3;
}
.footer_banner_box .more.light
{
	color: #FFF;
}
.footer_banner_box .more.light:hover
{
	background-image: url('images/icon_arrow_margin_right_white.png');
}
/* --- footer box --- */
.footer_box_container
{
	margin-top: 30px;
}
.footer_box
{
	float: left;
	width: 310px;
	padding-right: 30px;
	color: #909090;
}
.footer_box.last,
.footer_box:last-child
{
	padding-right: 0;
}
.footer_box p
{
	color: #909090;
}
/* --- footer contact info --- */
.footer_contact_info_container
{
	clear: both;
}
.footer_contact_info_row
{
	clear: both;
	padding-top: 5px;
}
.footer_contact_info_row:first-child
{
	padding-top: 0;
}
.footer_contact_info_left
{
	float: left;
	width: 150px;
}
.footer_contact_info_right
{
	float: right;
	width: 120px;
	margin-left: 20px;
}
/* --- opening hours --- */
.home_box .opening_hours li:first-child
{
	padding-top: 0;
}
/* --- footer recent posts --- */
.footer_recent_posts
{
	
}
/* --- copyright area --- */
.copyright_area
{
	border-top: 1px solid #353535;
	padding: 15px 0;
	font-size: 11px;
	color: #909090;
	margin-top: 15px;
}
.copyright_left
{
	float: left;
}
.copyright_right
{
	float: right;
}
.copyright_right .scroll_top
{
	font-size: 11px;
	color: #C5C5C5;
	background-position: right center;
	padding-right: 15px;
}
/* --- widgets --- */
.appointment_widget .info
{
	padding-bottom: 0;
}
.appointment_widget .column_left, .appointment_widget .column_right
{
	line-height: 150%;
}
.widget_archive ul,
.widget_archive select
{
	margin-top: 30px;
}
.widget_archive li
{
	float: left;
	width: 137px;
	background: url('images/icon_arrow_right_black.png') left center no-repeat;
	line-height: 150%;
    padding: 5px 0 5px 18px;
}
.widget_archive li a
{
	color: #666666;
	border: none;
}
/* --- preloader --- */
.mc_preloader
{
	display: block;
	height: 150px;
	background: url('images/preloader.gif') no-repeat center center;
}
.mc_preloader.pagination_preloader
{
	display: none;
	float: right;
	width: 25px;
	height: 30px;
	margin-right: 10px;
}
.image_carousel img,
.post_content a.post_image img
{
	display: none;
}
/* --- links --- */
.simple_list li a
{
	color: #666;
}
.simple_list li a:hover,
.scrolling_list li a:hover .left,
.widget_archive li a:hover
{
	color: #000;
}
.header_right a.scrolling_list_control_left, 
.header_right a.scrolling_list_control_right,
.pagination li a,
.pagination li span,
.categories li a,
.widget_categories li a,
.scrolling_list li .number
{
	border: 1px solid #E0E0E0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.footer .header_right a.scrolling_list_control_left, 
.footer .header_right a.scrolling_list_control_right
{
	border-color: #353535;
}
.footer .header_right a.scrolling_list_control_left:hover, 
.footer .header_right a.scrolling_list_control_right:hover
{
	border-color: #42B3E5;
	color: #fff;
}
.header_right a.scrolling_list_control_left:hover, 
.header_right a.scrolling_list_control_right:hover,
.pagination li a:hover,
.pagination li.selected a,
.pagination li.selected span,
.tabs_navigation li a:hover,
.tabs_navigation li a.selected,
.tabs_navigation li.ui-tabs-active a,
.categories li a:hover,
.widget_categories li a:hover,
.categories li.current-cat a,
.widget_categories li.current-cat a,
.scrolling_list li a:hover .number,
.controls .close:hover, .controls .prev:hover, .controls .next:hover
{
	border-color: #42B3E5;
	color: #000;
}
.bread_crumb li,
#comments_list .comment_details .posted_by a,
.bread_crumb li a,
.post_footer_details li a,
#cancel_comment
{
	color: #909090;
	text-decoration: underline;
}
.post_footer_details li a:hover,
#comments_list .comment_details .posted_by a:hover,
#cancel_comment:hover
{
	color: #3156A3;
}
.sf-menu a:hover,
.controls .prev:hover, 
.controls .next:hover,
.controls .close:hover,
.comments_number:hover,
.scrolling_list_control_left:hover, 
.scrolling_list_control_right:hover,
.home_box #upcoming_class_prev:hover, 
.home_box #upcoming_class_next:hover,
.social_icon:hover,
.pagination li a:hover,
.tabs_navigation li a:hover,
.footer a.social_icon:hover,
#fancybox-title-inside a,
.thin_list a
{
	text-decoration: none;
}
.footer a:hover,
.post_content h2 a:hover,
.simple_list li a:hover,
.footer_banner_box a:hover,
.timetable .event a:hover,
.items_list li a:hover,
.item_content .text h3 a:hover,
.scrolling_list li a:hover .left,
#fancybox-title-inside a:hover,
.widget_archive li a:hover,
.thin_list a:hover
{
	text-decoration: underline;
}

a.social_icon,
.header_left a,
.sf-menu li ul li a,
.slider_navigation .slider_control a,
.home_box h2 a,
.comment_box .comments_number a,
.post_content a.post_image,
.post_content h2 a,
.post_footer_details li a,
.item_content .thumb_image,
.features_image,
.features_image:hover,
.item_content .text h3 a,
.footer a,
.footer_banner_box h2 a,
.footer_banner_box a,
.bread_crumb li a,
.controls a,
#fancybox-wrap a,
#cancel_comment,
.timetable .event a,
.items_list li a,
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next,
.gmnoprint a,
.thin_list a
{
	border: none;
}
/* --- visual composer --- */
.wpb_row *,
.wpb_row *:before,
.wpb_row *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wpb_row:before,
.wpb_row:after {
  content: " ";
  display: table;
}
.wpb_row:after {
  clear: both;
}
body .vc_row
{
	margin-left: 0;
	margin-right: 0;
}
.site_container .wpb_row
{
	margin-bottom: 0;
}
.wpb_widgetised_column,
.wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button
{
	margin-bottom: 0 !important;
}
.wpb_widgetised_column .wpb_wrapper > ul
{
	padding: 0;
}
.vc_row-fluid .wpb_column.page_left
{
	float: left;
    width: 630px;
}
.vc_row-fluid .wpb_column.page_right
{
	float: right;
    width: 330px;
	margin: 0;
}
.wpb_separator.wpb_content_element,
.vc_text_separator.wpb_content_element
{
	border-color: #E0E0E0;
	margin-bottom: 0;
	height: auto;
}
.vc_text_separator.wpb_content_element
{
	position: static;
	top: 0;
}
.vc_row-fluid [class*="vc_col-sm"]
{
	float: left;
	margin-left: 30px;
	min-height: auto;
	padding-left: 0;
	padding-right: 0;
}
.vc_row-fluid [class*="vc_col-sm"]:first-child ,
.vc_row-fluid .vc_container-anchor+[class*="vc_col-sm"]
{
	margin-left: 0;
}
.vc_col-sm-12 
{
	width: 100%;
}
.vc_col-sm-10 
{
	width: 820px;
}
.vc_col-sm-9 
{
	width: 735px;
}
.vc_col-sm-8 
{
	width: 650px;
}
.vc_col-sm-6 
{
	width: 480px;
}
.vc_col-sm-4 
{
	width: 310px;
}
.vc_col-sm-3 
{
	width: 225px;
}
.vc_col-sm-2 
{
	width: 140px;
}
/*.wpb_content_element .accordion.ui-accordion .ui-accordion-header
{
	background-color: transparent;
}*/
/* --- vc layouts --- */
.vc_col-sm-8 .vc_row-fluid .vc_col-sm-6
{
	width: 310px;
}
/* --- vc home box --- */
.wpb_column .home_box_container
{
	float: none;
}
.wpb_column .home_box
{
	width: 100%;
	height: auto;
}
/* --- vc blog --- */
.vc_row-fluid .vc_col-sm-12 .post_content
{
	width: 880px;
}
.vc_row-fluid .vc_col-sm-10 .post_content
{
	width: 710px;
}
.vc_row-fluid .vc_col-sm-9 .post_content
{
	width: 625px;
}
.vc_row-fluid .vc_col-sm-8 .post_content
{
	width: 540px;
}
.vc_row-fluid .vc_col-sm-6 .post_content
{
	width: 370px;
}
.vc_row-fluid .vc_col-sm-4 .post_content
{
	width: 200px;
}
.vc_row-fluid .columns .post_content,
.vc_row-fluid .columns .post_content a.post_image img,
.vc_row-fluid .columns .post_content .image_carousel img,
.vc_row-fluid .columns .post_content .image_carousel .mc_preloader
{
	width: 100%;
}
/* --- vc comments --- */
.vc_row-fluid .vc_col-sm-12 #comments_list .comment_details
{
	width: 775px;
}
.vc_row-fluid .vc_col-sm-12 #comments_list .children .comment_details
{
	width: 735px;
}
.vc_row-fluid .vc_col-sm-12 .comment_form .left, .vc_row-fluid .vc_col-sm-12 .comment_form .right
{
	width: 430px;
}
.vc_row-fluid .vc_col-sm-12 .comment_form .text_input,
.vc_row-fluid .vc_col-sm-12 .comment_form textarea
{
	width: 394px;
}
.vc_row-fluid .vc_col-sm-10 #comments_list .comment_details
{
	width: 605px;
}
.vc_row-fluid .vc_col-sm-10 #comments_list .children .comment_details
{
	width: 565px;
}
.vc_row-fluid .vc_col-sm-10 .comment_form .left, .vc_row-fluid .vc_col-sm-10 .comment_form .right
{
	width: 345px;
}
.vc_row-fluid .vc_col-sm-10 .comment_form .text_input,
.vc_row-fluid .vc_col-sm-10 .comment_form textarea
{
	width: 309px;
}
.vc_row-fluid .vc_col-sm-9 #comments_list .comment_details
{
	width: 520px;
}
.vc_row-fluid .vc_col-sm-9 #comments_list .children .comment_details
{
	width: 480px;
}
.vc_row-fluid .vc_col-sm-9 .comment_form .left, .vc_row-fluid .vc_col-sm-9 .comment_form .right
{
	width: 302px;
}
.vc_row-fluid .vc_col-sm-9 .comment_form .text_input,
.vc_row-fluid .vc_col-sm-9 .comment_form textarea
{
	width: 266px;
}
.vc_row-fluid .vc_col-sm-6 #comments_list .comment_details
{
	width: 265px;
}
.vc_row-fluid .vc_col-sm-6 #comments_list .children .comment_details
{
	width: 225px;
}
.vc_row-fluid .vc_col-sm-6 .comment_form .left, .vc_row-fluid .vc_col-sm-6 .comment_form .right
{
	width: 175px;
}
.vc_row-fluid .vc_col-sm-6 .comment_form .text_input,
.vc_row-fluid .vc_col-sm-6 .comment_form textarea
{
	width: 139px;
}
.vc_row-fluid .vc_col-sm-4 #comments_list .comment_details
{
	width: 205px;
}
.vc_row-fluid .vc_col-sm-4 #comments_list .children .comment_details
{
	width: 165px;
}
.vc_row-fluid .vc_col-sm-4 .comment_form .right
{
	margin-top: 10px;
	margin-left: 0;
}
.vc_row-fluid .vc_col-sm-4 .comment_box
{
	margin-bottom: 30px;
}
.vc_row-fluid .wpb_column .comments .comment_box .comments_number
{
	margin-left: 0;
}
.vc_row-fluid .vc_col-sm-4 .comment_box .arrow_comments
{
	clear: both;
	float: none;
}
.vc_row-fluid .vc_col-sm-4 .comment_form_container,
.vc_row-fluid .vc_col-sm-3 .comment_form_container,
.vc_row-fluid .vc_col-sm-2 .comment_form_container
{
	margin-left: 0;
}
.vc_row-fluid .vc_col-sm-4 .comment_form .right,
.vc_row-fluid .vc_col-sm-3 .comment_form .right,
.vc_row-fluid .vc_col-sm-2 .comment_form .right
{
	margin-top: 10px;
	margin-left: 0;
}
.vc_row-fluid .vc_col-sm-4 .comment_form .left, .vc_row-fluid .vc_col-sm-4 .comment_form .right,
.vc_row-fluid .vc_col-sm-3 .comment_form .left, .vc_row-fluid .vc_col-sm-3 .comment_form .right,
.vc_row-fluid .vc_col-sm-2 .comment_form .left, .vc_row-fluid .vc_col-sm-2 .comment_form .right
{
	width: 100%;
}
.vc_row-fluid .vc_col-sm-4 .comment_form .text_input,
.vc_row-fluid .vc_col-sm-4 .comment_form textarea, .vc_col-sm-4 .contact_form textarea
{
	width: 274px;
}
.vc_row-fluid .vc_col-sm-3 #comments_list .comment_details,
.vc_row-fluid .vc_col-sm-2 #comments_list .comment_details
{
	width: 100%;
	margin-top: 10px;
}
.vc_row-fluid .vc_col-sm-3 #comments_list .children .comment_details
{
	width: 185px;
}
.vc_row-fluid .vc_col-sm-3 .comment_form .text_input,
.vc_row-fluid .vc_col-sm-3 .comment_form textarea
{
	width: 189px;
}
.vc_row-fluid .vc_col-sm-2 #comments_list .comment_author_avatar
{
	margin-right: 0;
}
.vc_row-fluid .vc_col-sm-2 #comments_list .children .comment_details
{
	width: 100px;
}
.vc_row-fluid .vc_col-sm-2 .comment_form .text_input,
.vc_row-fluid .vc_col-sm-2 .comment_form textarea
{
	width: 104px;
}
/* --- vc contact form --- */
.vc_col-sm-12 .contact_form .text_input,
.vc_col-sm-6 .contact_form textarea
{
	width: 444px;
}
.vc_col-sm-12 .contact_form textarea
{
	width: 954px;
}
.vc_col-sm-10 .contact_form .text_input
{
	width: 359px;
}
.vc_col-sm-10 .contact_form textarea
{
	width: 784px;
}
.vc_col-sm-9 .contact_form .text_input
{
	width: 316px;
}
.vc_col-sm-9 .contact_form textarea
{
	width: 699px;
}
.vc_col-sm-6 .contact_form .text_input,
.vc_col-sm-3 .contact_form .text_input,
.vc_col-sm-3 .contact_form textarea
{
	width: 189px;
}
.vc_col-sm-6 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected,
.vc_col-sm-3 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected
{
	width: 201px;
	background-position: 200px center;
}
.vc_col-sm-3 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected.wide .sub-menu
{
	width: 223px;
}
.vc_col-sm-4 .contact_form .right,
.vc_col-sm-3 .contact_form .right,
.vc_col-sm-2 .contact_form .right
{
	margin-left: 0;
}
.vc_col-sm-2 .contact_form .text_input,
.vc_col-sm-2 .contact_form textarea
{
	width: 104px;
}
.vc_col-sm-2 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected
{
	width: 116px;
	background-position: 122px center;
}
.vc_col-sm-2 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected.wide .sub-menu
{
	width: 138px;
}
.vc_col-sm-2 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected.wide .sub-menu li
{
	width: 134px;
	padding: 0 2px;
}
/* --- vc columns --- */
.vc_row-fluid .vc_col-sm-12 .blog.column_left, .vc_row-fluid .vc_col-sm-12 .blog.column_right
{
	width: 480px;
}
.vc_row-fluid .vc_col-sm-10 .blog.column_left, .vc_row-fluid .vc_col-sm-10 .blog.column_right
{
	width: 395px;
}
.vc_row-fluid .vc_col-sm-9 .blog.column_left, .vc_row-fluid .vc_col-sm-9 .blog.column_right
{
	width: 352px;
}
.vc_row-fluid .vc_col-sm-8 .blog.column_left, .vc_row-fluid .vc_col-sm-8 .blog.column_right
{
	width: 310px;
}
.vc_row-fluid .vc_col-sm-6 .blog.column_left, .vc_row-fluid .vc_col-sm-6 .blog.column_right
{
	width: 225px;
}
.vc_row-fluid .vc_col-sm-4 .blog.column_left, .vc_row-fluid .vc_col-sm-4 .blog.column_right,
.vc_row-fluid .vc_col-sm-3 .blog.column_left, .vc_row-fluid .vc_col-sm-3 .blog.column_right,
.vc_row-fluid .vc_col-sm-2 .blog.column_left, .vc_row-fluid .vc_col-sm-2 .blog.column_right
{
	clear: both;
	float: none;
	width: 100%;
}
.vc_row-fluid .vc_col-sm-4 .blog.column_left,
.vc_row-fluid .vc_col-sm-3 .blog.column_left,
.vc_row-fluid .vc_col-sm-2 .blog.column_left
{
	margin-right: 0;
}
.vc_row-fluid .vc_col-sm-4 .blog.column_right,
.vc_row-fluid .vc_col-sm-3 .blog.column_right,
.vc_row-fluid .vc_col-sm-2 .blog.column_right
{
	margin-top: 30px;
}
.vc_row-fluid .vc_col-sm-3 .comment_box,
.vc_row-fluid .vc_col-sm-3 .columns .comment_box,
.vc_row-fluid .vc_col-sm-2 .comment_box,
.vc_row-fluid .vc_col-sm-2 .columns .comment_box
{
	float: none;
	width: auto;
	margin-bottom: 23px;
	margin-right: 0;
}
.vc_row-fluid .vc_col-sm-3 .comment_box li,
.vc_row-fluid .vc_col-sm-3 .columns .comment_box li,
.vc_row-fluid .vc_col-sm-2 .comment_box li,
.vc_row-fluid .vc_col-sm-2 .columns .comment_box li
{
	float: left;
	clear: none;
	width: auto;
}
.vc_row-fluid .vc_col-sm-3 .comment_box .comments_number,
.vc_row-fluid .vc_col-sm-3 .columns .comment_box .comments_number,
.vc_row-fluid .vc_col-sm-2 .comment_box .comments_number,
.vc_row-fluid .vc_col-sm-2 .columns .comment_box .comments_number
{
	width: auto;
	margin-top: 0;
	margin-left: 2px;
}
.vc_row-fluid .vc_col-sm-3 .comment_box .date .value,
.vc_row-fluid .vc_col-sm-3 .columns .comment_box .date .value,
.vc_row-fluid .vc_col-sm-2 .comment_box .comments_number,
.vc_row-fluid .vc_col-sm-2 .columns .comment_box .date .value
{
	width: auto;
}
.vc_row-fluid .vc_col-sm-3 .comment_box .date .arrow_date,
.vc_row-fluid .vc_col-sm-3 .comment_box .arrow_comments,
.vc_row-fluid .vc_col-sm-3 .columns .comment_box .date .arrow_date,
.vc_row-fluid .vc_col-sm-3 .columns .comment_box .arrow_comments,
.vc_row-fluid .vc_col-sm-2 .comment_box .date .arrow_date,
.vc_row-fluid .vc_col-sm-2 .comment_box .arrow_comments,
.vc_row-fluid .vc_col-sm-2 .columns .comment_box .date .arrow_date,
.vc_row-fluid .vc_col-sm-2 .columns .comment_box .arrow_comments
{
	clear: both;
	float: none;
}
.vc_col-sm-12 .appointment_widget .columns.no_padding .column_left,
.vc_col-sm-12 .appointment_widget .columns.no_padding .column_right
{
	width: 480px;
}
.vc_col-sm-10 .appointment_widget .columns.no_padding .column_left,
.vc_col-sm-10 .appointment_widget .columns.no_padding .column_right
{
	width: 395px;
}
.vc_col-sm-9 .appointment_widget .columns.no_padding .column_left,
.vc_col-sm-9 .appointment_widget .columns.no_padding .column_right
{
	width: 352px;
}
.vc_col-sm-8 .appointment_widget .columns.no_padding .column_left,
.vc_col-sm-8 .appointment_widget .columns.no_padding .column_right
{
	width: 310px;
}
.vc_col-sm-6 .appointment_widget .columns.no_padding .column_left,
.vc_col-sm-6 .appointment_widget .columns.no_padding .column_right
{
	width: 225px;
}
.vc_col-sm-4 .appointment_widget .columns.no_padding .column_left,
.vc_col-sm-4 .appointment_widget .columns.no_padding .column_right
{
	width: 140px;
}
.vc_col-sm-3 .appointment_widget .columns.no_padding .column_left,
.vc_col-sm-3 .appointment_widget .columns.no_padding .column_right,
.vc_col-sm-2 .appointment_widget .columns.no_padding .column_left,
.vc_col-sm-2 .appointment_widget .columns.no_padding .column_right
{
	width: 100%;
}
.vc_col-sm-3 .appointment_widget .columns.no_padding .column_left,
.vc_col-sm-2 .appointment_widget .columns.no_padding .column_left
{
	margin-right: 0;
}
.vc_col-sm-3 .appointment_widget .columns.no_padding .column_right,
.vc_col-sm-2 .appointment_widget .columns.no_padding .column_right
{
	margin-top: 30px;
}
/* --- vc isotope gallery --- */
.vc_col-sm-10 .gallery_item_details_list .gallery_box,
.vc_col-sm-10 .gallery_item_details_list .gallery_box img,
.vc_col-sm-10 .gallery_item_details_list .details_box,
.vc_col-sm-10 .gallery_item_details_list .mc_preloader
{
	width: 395px;
}
.vc_col-sm-10 .info_list li .text
{
	width: 303px;
}
.vc_col-sm-9 .gallery_item_details_list .gallery_box,
.vc_col-sm-9 .gallery_item_details_list .gallery_box img,
.vc_col-sm-9 .gallery_item_details_list .details_box,
.vc_col-sm-9 .gallery_item_details_list .mc_preloader
{
	width: 352px;
}
.vc_col-sm-9 .info_list li .text
{
	width: 260px;
}
.vc_col-sm-8 .gallery_item_details_list .gallery_box,
.vc_col-sm-8 .gallery_item_details_list .gallery_box img,
.vc_col-sm-8 .gallery_item_details_list .details_box,
.vc_col-sm-8 .gallery_item_details_list .mc_preloader
{
	width: 310px;
}
.vc_col-sm-8 .info_list li .text,
.vc_col-sm-4 .info_list li .text
{
	width: 218px;
}
.vc_col-sm-6 .gallery_item_details_list .gallery_box,
.vc_col-sm-6 .gallery_item_details_list .gallery_box img,
.vc_col-sm-6 .gallery_item_details_list .details_box,
.vc_col-sm-6 .gallery_item_details_list .mc_preloader
{
	width: 225px;
}
.vc_col-sm-6 .info_list li .text,
.vc_col-sm-3 .info_list li .text
{
	width: 133px;
}
.vc_col-sm-4 .gallery_item_details_list .gallery_box,
.vc_col-sm-4 .gallery_item_details_list .gallery_box img,
.vc_col-sm-4 .gallery_item_details_list .details_box,
.vc_col-sm-3 .gallery_item_details_list .gallery_box,
.vc_col-sm-3 .gallery_item_details_list .gallery_box img,
.vc_col-sm-3 .gallery_item_details_list .details_box,
.vc_col-sm-2 .gallery_item_details_list .gallery_box,
.vc_col-sm-2 .gallery_item_details_list .gallery_box img,
.vc_col-sm-2 .gallery_item_details_list .details_box,
.vc_col-sm-4 .gallery_item_details_list .mc_preloader,
.vc_col-sm-3 .gallery_item_details_list .mc_preloader,
.vc_col-sm-2 .gallery_item_details_list .mc_preloader
{
	width: 100%;
}
.vc_col-sm-4 .gallery_item_details .column_left,
.vc_col-sm-3 .gallery_item_details .column_left,
.vc_col-sm-2 .gallery_item_details .column_left
{
	float: none;
}
.vc_col-sm-4 .gallery_item_details .column_right,
.vc_col-sm-3 .gallery_item_details .column_right,
.vc_col-sm-2 .gallery_item_details .column_right
{
	float: none;
	margin-top: 30px;
}
.vc_col-sm-4 .gallery_item_details_list .gallery_box,
.vc_col-sm-3 .gallery_item_details_list .gallery_box,
.vc_col-sm-2 .gallery_item_details_list .gallery_box
{
	margin-right: 0;
}
.vc_col-sm-2 .info_list li .text
{
	width: 100%;
}
/* --- vc item content --- */
.vc_col-sm-2 .item_content .features_image
{
	margin-right: 0;
	margin-bottom: 27px;
}
/* --- vc image gallery --- */
.flex-direction-nav a.flex-next,
.flex-direction-nav a.flex-prev
{
	border: none;
}
/* --- vc image carousel --- */
.vc_carousel .vc_carousel-inner 
{
	margin-bottom: 25px !important;
}
.vc_carousel-control .icon-next:before,
.vc_carousel-control .icon-prev:before
{
	content: '' !important;
}
.vc_carousel .vc_inner a
{
	border: none;
}
.vc_carousel-control.vc_right,
.vc_carousel-control.vc_left
{
	border: none;
}
.vc_carousel-control .icon-next 
{
	background: url(images/bg_direction_nav.png) no-repeat 0 0;
	background-position: 100% 0;
}
.vc_carousel-control .icon-prev 
{
	background: url(images/bg_direction_nav.png) no-repeat 0 0;
}
.vc_carousel-indicators 
{
	bottom: -30px !important;
}
/* --- vc carousel --- */
.vc_carousel .link_title, 
.vc_carousel .link_image
{
	border: none;
}
/* --- scrolling list --- */
.vc_col-sm-6 .scrolling_list li .left
{
	width: 425px;
}
.vc_col-sm-4 .scrolling_list li .left
{
	width: 255px;
}