.clearfix:after
{
    font-size: 0px;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
}
.vc_license-activation-notice
{
	display: none;
}
/* --- Features icon --- */
#features_icon option
{
	background: no-repeat scroll 5px 5px / 38px auto transparent;
    height: 40px;
    padding-left: 50px;
    padding-top: 20px;
}
/* --- Theme options --- */
.theme_options
{
	width: 960px;
	margin-top: 20px;
}
.theme_options a
{
	outline: none;
}
.theme_options .header
{
	clear: both;
}
.theme_options .header_left,
.theme_options .header_right
{
	float: left;
}
.theme_options .header_left
{
	width: 210px;
	height: 129px;
	background-color: #353535;
	padding: 0 20px;
}
.theme_options .header_right
{
	width: 670px;
	height: 129px;
	background-color: #F0F0F0;
	padding: 0 0 0 40px;
}
.theme_options .header_right .description
{
	float: left;
}
.theme_options .header_right .logo
{
	float: right;
	width: 92px;
	height: 89px;
	background: url("../images/wp_admin_map.png") 0 -260px;
	text-decoration: none;
	margin: 20px 20px 20px 0;
}
.theme_options h3, .theme_options h5
{
	font-family: 'Open Sans', arial;
	font-weight: normal;
}
.theme_options h3
{
	font-size: 24px;
}
.theme_options h5
{
	font-size: 13px;
}
.theme_options .header_left h3
{	
	margin-top: 35px;
	margin-bottom: 0;
}
.theme_options .header_left h3 a
{
	color: #FFF;
	text-decoration: none;
}
.theme_options .header_left h5
{	
	color: #A5A5A5;
	margin-top: 15px;
	margin-bottom: 45px;
}
.theme_options .header_right h3
{	
	margin-top: 35px;
	margin-bottom: 0;
}
.theme_options .header_right h5
{	
	color: #555;
	margin-top: 15px;
}
.theme_options .header_right h3 a
{
	color: #000;
	text-decoration: none;
}
.theme_options .header_left h3 a:hover,
.theme_options .header_right h3 a:hover
{	
	text-decoration: underline;
}
.theme_options .content
{
	clear: both;
	background-color: #282828;
}
.theme_options .settings
{
	float: right;
	display: none;
	width: 650px;
	min-height: 560px;
	border-top: 1px solid #E0E0E0;
	padding: 20px 20px 20px 40px;
	background-color: #FFF;
}
.theme_options .subsettings
{
	display: none;
}
.theme_options .form_field_list
{
	margin: 20px 0;
}
.theme_options .form_field_list li
{
	margin-bottom: 15px;
}
.theme_options .form_field_list label
{
	display: block;
	font-family: 'Open Sans', arial;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.theme_options .settings h3
{
	margin-top: 0;
	margin-bottom: 20px;
}
.theme_options .settings h4
{
	font-size: 18px;
	font-weight: normal;
	margin: 50px 0 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #E0E0E0;
}
.theme_options .settings .submit_line
{
	clear:both;
}
.theme_options .settings .submit_line input[type='submit']
{
	float: none;
	margin: 0;
}
.theme_options .settings .color_preview,
.widget-content .color_preview,
.metabox-holder .color_preview
{
	display: block;
	float: left;
	width: 21px;
	height: 21px;
	margin: 1px 5px 1px 1px;
	background: transparent;
	border: 1px solid #E0E0E0;
}
.widget-content .color_preview
{
	float: none;
	display: inline-block;
	vertical-align: top;
	margin: 1px;
}
.theme_options .menu
{
	float: left;
	width: 250px;
	background-color: #282828;
	padding: 0;
	margin: 0;
}
.theme_options .menu a
{
	display: block;
	background: url("../images/wp_admin_map.png");
	height: 16px;
	font-size: 13px;
	font-family: arial;
	color: #D5D5D5;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
	padding: 22px 20px;
	text-decoration: none;
}
.theme_options .menu a:hover,
.theme_options .menu a.selected
{
	background-position: 0 -60px;
	color: #FFF;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
}
.theme_options .menu a span
{
	float: right;
	width: 16px;
	height: 16px;
	background: url("../images/wp_admin_icon_map.png");
}
.theme_options .menu a:hover .general,
.theme_options .menu a.selected .general
{
	background-position: 0 -16px;
}
.theme_options .menu a .social
{
	background-position: -16px 0;
}
.theme_options .menu a:hover .social,
.theme_options .menu a.selected .social
{
	background-position: -16px -16px;
}
.theme_options .menu a .header
{
	background-position: -160px 0;
}
.theme_options .menu a:hover .header,
.theme_options .menu a.selected .header
{
	background-position: -160px -16px;
}
.theme_options .menu a .font
{
	background-position: -32px 0;
}
.theme_options .menu a:hover .font,
.theme_options .menu a.selected .font
{
	background-position: -32px -16px;
}
.theme_options .menu a .plugin
{
	background-position: -48px 0;
}
.theme_options .menu a:hover .plugin,
.theme_options .menu a.selected .plugin
{
	background-position: -48px -16px;
}
.theme_options .menu a .post
{
	background-position: -64px 0;
}
.theme_options .menu a:hover .post,
.theme_options .menu a.selected .post
{
	background-position: -64px -16px;
}
.theme_options .menu a .slider
{
	background-position: -144px 0;
}
.theme_options .menu a:hover .slider,
.theme_options .menu a.selected .slider
{
	background-position: -144px -16px;
}
.theme_options .menu a .colors
{
	background-position: -128px 0;
}
.theme_options .menu a:hover .colors,
.theme_options .menu a.selected .colors
{
	background-position: -128px -16px;
}
.theme_options .menu a .contact_form
{
	background-position: -160px 0;
}
.theme_options .menu a:hover .contact_form,
.theme_options .menu a.selected .contact_form
{
	background-position: -160px -16px;
}
.theme_options .submenu
{
	display: none;
	padding: 0;
	margin: 0;
}
.theme_options .submenu a
{
	display: block;
	background: url("../images/wp_admin_map.png") 0 -120px;
	height: 16px;
	font-size: 13px;
	font-family: arial;
	color: #D5D5D5;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
	padding: 12px 10px 12px 37px;
	text-decoration: none;
}
.theme_options .submenu a:hover,
.theme_options .submenu a.selected
{
	background-position: 0 -160px;
}
.theme_options .footer
{
	clear: both;
	height: 86px;
}
.theme_options #theme_options_preloader,
.theme_options #theme_options_tick
{
	display: none;
	float: right;
	margin-top: 37px;
}
.theme_options #dummy_content_preloader,
.theme_options #dummy_content_tick
{
	display: none;
	margin-top: 6px;
}
.theme_options #dummy_content_info
{
	clear: both;
	margin-top: 10px;
}
.theme_options .footer_left
{
	float: left;
	width: 250px;
	background-color: #282828;
	border-top: 1px solid #282828;
}
.theme_options .footer_right
{
	float: right;
	width: 710px;
	background-color: #F0F0F0;
	border-top: 1px solid #E0E0E0;
}
.theme_options input[type='submit']
{
	border: none;
    float: right;
	font-family: arial;
	font-size: 13px;
	color: #D5D5D5;
    margin: 24px 20px;
    padding: 10px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	cursor: pointer;
	background-color: #444444;
}
.theme_options input[type='submit']:hover
{
	color: #FFF;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
	background-color: #1378BF;
}
.theme_options ul.social-list
{
margin:0px;
padding:0px;
margin-top:50px;
margin-left:20px;
list-style-type:none;
}
.theme_options ul.social-list li
{
	float:left;
}
.theme_options ul.social-list li a
{
	width:30px;
	height:30px;
	display:block;
	background-image:url('../images/wp_admin_map.png');
}
.theme_options ul.social-list li a.social-list-tumblr			{ background-position:-150px -200px;	}
.theme_options ul.social-list li a.social-list-flickr			{ background-position:-60px -200px;		}
.theme_options ul.social-list li a.social-list-envato			{ background-position:-90px -200px;		}
.theme_options ul.social-list li a.social-list-twitter			{ background-position:-30px -200px;		}
.theme_options ul.social-list li a.social-list-facebook			{ background-position:-0px -200px;		}
.theme_options ul.social-list li a.social-list-deviantart		{ background-position:-180px -200px;	}
.theme_options ul.social-list li a.social-list-tumblr:hover		{ background-position:-150px -230px;	}
.theme_options ul.social-list li a.social-list-flickr:hover		{ background-position:-60px -230px;		}
.theme_options ul.social-list li a.social-list-envato:hover		{ background-position:-90px -230px;		}
.theme_options ul.social-list li a.social-list-twitter:hover	{ background-position:-30px -230px;		}
.theme_options ul.social-list li a.social-list-facebook:hover	{ background-position:-0px -230px;		}
.theme_options ul.social-list li a.social-list-deviantart:hover	{ background-position:-180px -230px;	}

.gymbase_hidden
{
	display: none;
}
/* --- Meta box options --- */
.meta_box_options_left,
.meta_box_options_right
{
	float: left;
	width: 45%;
}
.meta_box_options_right
{
	margin-left: 5%;
}
.meta_box_options_left input,
.meta_box_options_right input
{
	width: auto;
}
#page-custom-options
{
	display: none;
}
/* --- Menu icons --- */
#adminmenu #menu-posts-medicenter_weekdays .menu-icon-post div.wp-menu-image:before
{
	content: "\f145";
}
#adminmenu #menu-posts-doctors .menu-icon-post div.wp-menu-image:before
{
	content: "\f338";
}
#adminmenu #menu-posts-medicenter_gallery .menu-icon-post div.wp-menu-image:before
{
	content: "\f161";
}
#adminmenu #menu-posts-features .menu-icon-post div.wp-menu-image:before
{
	content: "\f157";
}
#adminmenu #menu-posts-departments .menu-icon-post div.wp-menu-image:before
{
	content: "\f163";
}
/* --- departments hours list --- */
#department_hours_list
{
	background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
	padding: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#department_hours_list li
{
	margin: 0 15px;
    padding-bottom: 10px;
    padding-top: 10px;
	border-bottom: 1px solid #DFDFDF;
}
#department_hours_list li:first-child
{
	margin-top: 0;
}
#department_hours_list .operation_button
{
	float: right;
	cursor: pointer;
	margin-top: 3px;
	margin-left: 10px;
}
#department_hours_list .edit_hour_department_loader
{
	cursor: default;
	display: none;
	margin-top: 0;
}
#department_hours_table textarea
{
	width: 250px;
}
/* --- widgets --- */
.widget-inside .regular-text.color
{
	width: 60px;
}
/* --- visual composer --- */
.wpb_el_type_hidden
{
	display: none;
}
#wpb-js-composer-settings .vc_settings-tab-control:nth-child(4) 
{
    display: none;
}
.wpb_el_type_colorpicker .color-group
{
	height: 30px;
}
.wpb_mc_carousel .attachment-thumbnails,
.wpb_mc_small_slider .attachment-thumbnails,
.wpb_photostream .attachment-thumbnails,
.wpb_slider .attachment-thumbnails
{
    overflow: hidden;
    height: 20px;
    padding: 0px;
    margin: 0;
}
.wpb_mc_carousel .attachment-thumbnails li,
.wpb_mc_small_slider .attachment-thumbnails li,
.wpb_photostream .attachment-thumbnails li,
.wpb_slider .attachment-thumbnails li 
{
    height: 20px;
    width: 20px;
    overflow: hidden;
    margin-right: 3px;
    text-align: center;
    display: inline-block;
}
.wpb_mc_carousel .attachment-thumbnails img,
.wpb_mc_small_slider .attachment-thumbnails img,
.wpb_photostream .attachment-thumbnails img,
.wpb_slider .attachment-thumbnails img
{
    height: 20px;
    width: auto;
}
.wpb_mc_carousel .column_edit_trigger,
.wpb_mc_small_slider .column_edit_trigger,
.wpb_photostream .column_edit_trigger,
.wpb_slider .column_edit_trigger
{
    /*width: 100%;
    top: 18px;*/
    display: block;
    float: left;
    font-size: 11px;
    line-height: 12px;
    text-decoration: none;
    border-bottom: 1px dotted;
    margin-top: 2px;
}
.wpb_bootstrap_modals .dropdownmulti
{
	height: 150px;
}
.vc_row-fluid.wpb_el_type_listitemwindow
{
	border: none;
	padding: 0;
	margin: 0;
}
.listitemwindow .vc_panel-heading
{
	cursor: default;
}
.wpb_bootstrap_modals .iris-border .iris-picker-inner
{
	z-index: 1;
}
.wpb_el_type_attach_images_custom .gallery_widget_add_images
{
	margin-top: 5px;
	display: inline-block;
	height: 80px;
	width: 80px;
	background: #F5F5F5 url("../../wpbakery/js_composer/assets/vc/add.png") no-repeat center center;
	border: 1px solid #DFDFDF;
	font-size: 1px;
	color: #DFDFDF;
}
.wpb_el_type_attach_images_custom .gallery_widget_add_images:hover
{
	color: #C8C8C8;
	border-color: #C8C8C8;
	text-decoration: none;
}
.vc_modal-body .icon-wpb-layer-items-list,
.vc_modal-body .icon-wpb-layer-carousel,
.vc_modal-body .icon-wpb-layer-small-slider,
.vc_modal-body .icon-wpb-layer-announcement-box,
.vc_modal-body .icon-wpb-layer-testimonials,
.vc_modal-body .vc_modal-body .icon-wpb-layer-box-header,
.vc_modal-body .icon-wpb-layer-sentence,
.vc_modal-body .icon-wpb-layer-doctors-list,
.vc_modal-body .icon-wpb-layer-gallery-items-list,
.vc_modal-body .icon-wpb-layer-features-list,
.vc_modal-body .icon-wpb-layer-contact-form,
.vc_modal-body .icon-wpb-layer-blog,
.vc_modal-body .icon-wpb-layer-post,
.vc_modal-body .icon-wpb-layer-timetable,
.vc_modal-body .icon-wpb-layer-photostream,
.vc_modal-body .icon-wpb-layer-notification-box,
.vc_modal-body .icon-wpb-layer-dropcap,
.vc_modal-body .icon-wpb-layer-icon,
.vc_modal-body .icon-wpb-layer-pricing-table
{
	background-image: url("../images/visual_composer/visual_composer.png");
}
.vc_modal-body .icon-wpb-layer-items-list { background-position: 0 0}
.vc_modal-body .icon-wpb-layer-carousel { background-position: 0 -32px;}
.vc_modal-body .icon-wpb-layer-small-slider { background-position: 0 -64px;}
.vc_modal-body .icon-wpb-layer-announcement-box { background-position: 0 -96px;}
.vc_modal-body .icon-wpb-layer-testimonials { background-position: 0 -128px;}
.vc_modal-body .icon-wpb-layer-box-header { background-position: 0 -160px;}
.vc_modal-body .icon-wpb-layer-sentence { background-position:  0 -192px;}
.vc_modal-body .icon-wpb-layer-doctors-list { background-position:  0 -224px;}
.vc_modal-body .icon-wpb-layer-gallery-items-list { background-position:  0 -256px;}
.vc_modal-body .icon-wpb-layer-features-list { background-position: 0 -288px;}
.vc_modal-body .icon-wpb-layer-contact-form { background-position: 0 -320px;}
.vc_modal-body .icon-wpb-layer-blog { background-position: 0 -352px;}
.vc_modal-body .icon-wpb-layer-post { background-position: 0 -384px;}
.vc_modal-body .icon-wpb-layer-timetable { background-position: 0 -416px;}
.vc_modal-body .icon-wpb-layer-photostream { background-position: 0 -448px;}
.vc_modal-body .icon-wpb-layer-notification-box { background-position: 0 -480px;}
.vc_modal-body .icon-wpb-layer-dropcap { background-position: 0 -512px;}
.vc_modal-body .icon-wpb-layer-icon { background-position: 0 -544px;}
.vc_modal-body .icon-wpb-layer-pricing-table { background-position: 0 -576px;}
/* icons */
.wpb_items_list .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/items_list.png");
}
.wpb_mc_carousel .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/carousel.png");
}
.wpb_mc_small_slider .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/small_slider.png");
}
.wpb_announcement_box .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/announcement_box.png");
}
.wpb_mc_testimonials .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/testimonials.png");
}
.wpb_box_header .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/box_header.png");
}
.wpb_sentence .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/sentence.png");
}
.wpb_doctors .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/doctors_list.png");
}
.wpb_medicenter_gallery .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/gallery_items_list.png");
}
.wpb_features .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/features_list.png");
}
.wpb_medicenter_contact_form .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/contact_form.png");
}
.wpb_blog .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/blog.png");
}
.wpb_single_post .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/post.png");
}
.wpb_timetable .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/timetable.png");
}
.wpb_photostream .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/photostream.png");
}
.wpb_notification_box .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/notification_box.png");
}
.wpb_dropcap .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/dropcap.png");
}
.wpb_mc_icon .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/icon.png");
}
.wpb_css3_grid .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/pricing_tables.png");
}
.wpb_medicenter_map .wpb_element_wrapper .vc_element-icon
{
	background-image: url("../images/visual_composer/images/map.png");
}
.vc_color-picker .wp-picker-holder
{
    z-index: 1;
}
