/* --- box_header animations --- */
.box_header.animation-slide:after
{
	visibility: hidden;
}
.box_header.slide:after
{
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-timing-function: cubic-bezier(.75, 0, .25, 1);	
	-webkit-animation-timing-function: cubic-bezier(.75, 0, .25, 1);
	animation-duration: 0.6s;	
	-webkit-animation-duration: 0.6s;
	visibility: visible;
}
@keyframes slide 
{
	0% 
	{
		width: 0;	
	}
	100% 
	{
		width: 50px;	
	}		
}
@-webkit-keyframes slide 
{
	0% 
	{
		width: 0;
	}
	100% 
	{
		width: 50px;
	}		
}
/* --- animations --- */
.animated_element
{
	visibility: hidden;
	position: relative;
}
.comment_box .animated_element.date .arrow_date,
.comment_box.animated_element .arrow_comments
{
	visibility: hidden;
}
.fadeIn, .scale, .slideRight, .slideRight200, .slideLeft, .slideLeft50, .slideDown, .slideDown200, .slideUp,
.comment_box .fadeIn.date .arrow_date, .comment_box .scale.date .arrow_date, .comment_box .slideRight.date .arrow_date, .comment_box .slideRight200.date .arrow_date, .comment_box .slideLeft.date .arrow_date, .comment_box .slideLeft50.date .arrow_date, .comment_box .slideDown.date .arrow_date, .comment_box .slideDown200.date .arrow_date, .comment_box .slideUp.date .arrow_date,
.comment_box.fadeIn .arrow_comments, .comment_box.scale .arrow_comments, .comment_box.slideRight .arrow_comments, .comment_box.slideRight200 .arrow_comments, .comment_box.slideLeft .arrow_comments, .comment_box.slideLeft50 .arrow_comments, .comment_box.slideDown .arrow_comments, .comment_box.slideDown200 .arrow_comments, .comment_box.slideUp .arrow_comments
{
	animation-timing-function: cubic-bezier(.75, 0, .25, 1);	
	-webkit-animation-timing-function: cubic-bezier(.75, 0, .25, 1);		
	visibility: visible !important;	
}
/* --- fadeIn --- */
.fadeIn
{	
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	
}
@keyframes fadeIn 
{
	0% 
	{
		opacity: 0;
	}
	100% 
	{
		opacity: 1;
	}
}
@-webkit-keyframes fadeIn 
{
	0% 
	{
		opacity: 0;
	}
	100% 
	{
		opacity: 1;
	}
}
/* --- scale --- */
.scale
{
	animation-name: scale;
	-webkit-animation-name: scale;
}
@keyframes scale 
{
	0% 
	{
		transform: scale(0.2);	
	}
	100% 
	{
		transform: scale(1);	
	}		
}
@-webkit-keyframes scale 
{
	0% 
	{
		-webkit-transform: scale(0.2);	
	}
	100% 
	{
		-webkit-transform: scale(1);
	}		
}
/* --- slideRight --- */
.slideRight
{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	
}
@keyframes slideRight 
{
	0% 
	{
		opacity: 0;
		transform: translateX(-100%);
	}
	100% 
	{
		opacity: 1;
		transform: translateX(0%);
	}
}
@-webkit-keyframes slideRight 
{
	0% 
	{
		opacity: 0;
		-webkit-transform: translateX(-100%);
	}
	100% 
	{
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
}
.slideRight200
{
	animation-name: slideRight200;
	-webkit-animation-name: slideRight200;	
}
@keyframes slideRight200 
{
	0%
	{
		opacity: 0;
		transform: translateX(-200%);
	}
	100% 
	{
		opacity: 1;
		transform: translateX(0%);
	}
}
@-webkit-keyframes slideRight200 
{
	0%
	{
		opacity: 0;
		-webkit-transform: translateX(-200%);
	}
	100% 
	{
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
}
/* --- slideLeft --- */
.slideLeft
{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;
}
@keyframes slideLeft 
{
	0% 
	{
		opacity: 0;
		transform: translateX(100%);
	}
	100% 
	{
		opacity: 1;
		transform: translateX(0%);
	}	
}
@-webkit-keyframes slideLeft 
{
	0% 
	{
		opacity: 0;
		-webkit-transform: translateX(100%);
	}
	100% 
	{
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
}
/* --- slideLeft50 --- */
.slideLeft50
{
	animation-name: slideLeft50;
	-webkit-animation-name: slideLeft50;
}
@keyframes slideLeft50 
{
	0% 
	{
		opacity: 0;
		transform: translateX(50%);
	}
	100% 
	{
		opacity: 1;
		transform: translateX(0%);
	}	
}
@-webkit-keyframes slideLeft50 
{
	0% 
	{
		opacity: 0;
		-webkit-transform: translateX(50%);
	}
	100% 
	{
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
}
/* --- slideDown --- */
.slideDown
{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;				
}
@keyframes slideDown 
{
	0% 
	{
		opacity: 0;
		transform: translateY(-100%);
	}
	100% 
	{
		opacity: 1;
		transform: translateY(0%);
	}		
}
@-webkit-keyframes slideDown 
{
	0% 
	{
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}
	100% 
	{
		opacity: 1;
		-webkit-transform: translateY(0%);
	}	
}
/* --- slideDown --- */
.slideDown200
{
	animation-name: slideDown200;
	-webkit-animation-name: slideDown200;				
}
@keyframes slideDown200
{
	0% 
	{
		opacity: 0;
		transform: translateY(-100%);
	}
	100% 
	{
		opacity: 1;
		transform: translateY(0%);
	}		
}
@-webkit-keyframes slideDown200
{
	0% 
	{
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}
	100% 
	{
		opacity: 1;
		-webkit-transform: translateY(0%);
	}	
}
/* --- slideUp --- */
.slideUp
{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;
}

@keyframes slideUp 
{
	0% 
	{
		opacity: 0;
		transform: translateY(100%);
	}
	100%
	{
		opacity: 1;
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp 
{
	0% 
	{
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	100% 
	{
		opacity: 1;
		-webkit-transform: translateY(0%);
	}	
}