@media screen and (max-width:1009px)
{
	blockquote
	{
		padding-left: 23px;
		margin-bottom: 23px;
	}
	/* --- headers --- */
	h1
	{
		font-size: 24px;
	}
	h2
	{
		font-size: 22px;
	}
	h3
	{
		font-size: 16px;
	}
	h4
	{
		font-size: 14px;
	}
	h5
	{
		font-size: 12px;
	}
	.sentence
	{
		margin-top: 21px;
	}
	/* --- header top sidebar --- */
	.header_top_sidebar
	{
		width: 750px;
	}
	/* --- header --- */
	.header
	{
		width: 750px;
	}
	.header_left
	{
		width: 195px;
	}
	.header_left a img
	{
		margin-right: 10px;
	}
	.box_header.margin
	{
		margin-top: 21px;
	}
	/* --- menu --- */
	.header.layout_2 .sf-menu li ul li a:hover, .header.layout_2 .sf-menu li ul li.selected a, .header.layout_2 .sf-menu li ul li.current-menu-item a,
	.header.layout_2 .sf-menu li.submenu:hover ul li.current-menu-item a, .header.layout_2 .sf-menu li.submenu ul li a:hover, .header.layout_2 .sf-menu li.submenu:hover ul li.selected a,
	.header.layout_2 .sf-menu li.submenu:hover ul li.current-menu-item ul li a:hover, .header.layout_2 .sf-menu li.submenu:hover ul li ul li.current-menu-item a,
	.header.layout_2 .sf-menu li.submenu:hover ul li.selected ul li.current-menu-item a,
	.header.layout_2 .sf-menu li.submenu:hover ul li.menu-item-type-custom a:hover, .header.layout_2 .sf-menu li ul li.menu-item-type-custom a:hover,
	.header.layout_2 .sf-menu li.submenu:hover ul li.selected ul li a:hover, .header.layout_2 .sf-menu li.submenu:hover ul li ul li.selected a, .header.layout_2 .sf-menu li.submenu:hover ul li.selected ul li.selected a
	{
		padding-bottom: 11px;
	}
	.header.layout_2 .sf-menu li.submenu:hover ul li.current-menu-item ul li a
	{
		padding-bottom: 12px;
	}
	.header.layout_2 .sf-menu li.menu_separator,
	.header.layout_2 .sf-menu li.menu_separator:hover
	{
		height: 22px;
	}
	.sf-menu li
	{
		height: 39px;
		margin-left: 5px;
	}
	.sf-menu li a, .sf-menu li a:visited
	{
		padding: 12px 7px;
	}
	.sf-menu li ul
	{
		width: 174px;
	}
	.sf-menu li:hover ul, .sf-menu li.sfHover ul
	{
		top: 38px;
	}
	.sf-menu li ul li
	{
		padding: 0 7px;
	}
	.sf-menu li ul li a,
	.sf-menu li:hover ul a, .sf-menu li.submenu:hover ul a,
	.sf-menu li ul li.menu-item-type-custom a,
	.sf-menu li.submenu:hover ul li.menu-item-type-custom a
	{
		padding: 12px 0;
	}
	.sf-menu li ul li a:hover, .sf-menu li ul li.selected a,
	.sf-menu li.submenu ul li a:hover, .sf-menu li.submenu:hover ul li.selected a,
	.sf-menu li.submenu:hover ul li.selected ul li a:hover, .sf-menu li.submenu:hover ul li ul li.selected a, .sf-menu li.submenu:hover ul li.selected ul li.selected a,
	.sf-menu li.submenu:hover ul li.menu-item-type-custom a:hover, .sf-menu li ul li.menu-item-type-custom a:hover,
	.sf-menu li.submenu:hover ul li ul li.current-menu-item a
	{
		padding-bottom: 11px;
	}
	ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul,
	ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul
	{
		left: 171px;
	}
	.sf-menu li.wide ul.sub-menu
	{
		width: 348px;
	}
	.sf-menu li li.wide ul.sub-menu
	{
		width: 184px;
	}
	.sf-menu .timetable_submenu .sub-menu
	{
		margin-left: -264px;
	}
	.sf-menu li.gallery_menu ul.sub-menu ul.sub-menu
	{
		margin-left: -343px;
	}
	/* --- page --- */
	.theme_page
	{
		width: 750px;
		padding-bottom: 40px;
	}
	.page_left
	{
		width: 475px;
	}
	.page_right
	{
		width: 250px;
	}
	.page_margin_top
	{
		margin-top: 23px;
	}
	.page_margin_top_section
	{
		margin-top: 40px;
	}
	.top_hint
	{
		margin-top: 0;
	}
	/* --- page header --- */
	.page_header
	{
		padding-bottom: 23px;
	}
	.page_header_left
	{
		width: 460px;
	}
	/* --- bread crumb --- */
	.bread_crumb
	{
		padding: 10px 0 0;
	}
	/* --- footer --- */
	.footer
	{
		width: 750px;
	}
	/* --- slider --- */
	.slider li
	{
		height: 520px;
	}
	.slider_content_box
	{
		margin-top: -488px;
		min-height: 286px;
	}
	.slider_content .subtitle
	{
		line-height: 120%;	
	}
	.slider_navigation .slider_control
	{
		height: 36px;
	}
	.slider_content h1
	{
		font-size: 56px;
	}
	/* --- home box --- */
	.home_box_container_list
	{
		margin-top: 0;
	}
	.home_box_container_list.margin_minus
	{
		margin-top: -202px;
	}
	.home_box_container
	{
		padding: 20px 23px 23px;
	}
	.home_box
	{
		width: 204px;
	}
	.home_box .header_left
	{
		width: 142px;
	}
	.home_box .news
	{
		margin-top: 14px;
	}
	.home_box .more
	{
		margin-top: 15px;
	}
	/* --- items list --- */
	.items_list li
	{
		padding: 10px 0;
	}
	.items_list li.icon_clock_black:first-child
	{
		padding-top: 10px;
	}
	/* --- scrolling list --- */
	.scrolling_list_wrapper
	{
		margin-top: 12px;
	}
	.scrolling_list li
	{
		/*width: 232px;*/
	}
	.scrolling_list li .left
	{
		/*width: 195px;*/
	}
	.columns.full_width .scrolling_list li
	{
		/*width: 345px;*/
	}
	.columns.full_width .scrolling_list li .left
	{
		/*width: 308px;*/
	}
	/* --- blog --- */
	.blog.column_left,
	.blog.column_right
	{
		width: 475px;
	}
	.comment_box
	{
		margin-right: 18px;
	}
	.columns .comment_box
	{
		margin-bottom: 23px;
	}
	.post
	{
		margin-top: 23px;
	}
	.post_content
	{
		padding-bottom: 23px;
	}
	.post_content, .post_content a.post_image img, .post_content .gallery_box img
	{
		/*width: 367px;*/
	}
	.post_content a.post_image
	{
		margin-bottom: 23px;
	}
	.post_content h2
	{
		margin-bottom: 19px;
	}
	.post_footer
	{
		margin-top: 23px;
	}
	.simple .post_footer
	{
		margin-top: 23px;
		padding-bottom: 23px;
	}
	.columns .post_content a.post_image img,
	.columns .post_content,
	.columns .post_content .image_carousel img,
	.columns .post_content .image_carousel .mc_preloader
	{
		width: 475px;
	}
	/* --- comments --- */
	#comments_list li.comment
	{
		/*width: 367px;*/
	}
	#comments_list .comment_author_avatar
	{
		margin-right: 23px;
	}
	#comments_list li.comment, #comments_list .children
	{
		margin-top: 25px;
	}
	#comments_list .comment_details
	{
		width: 293px;
	}
	#comments_list .comment_details p
	{
		padding: 15px 0;
	}
	#comments_list .children li.comment
	{
		/*width: 332px;*/
	}
	#comments_list .children .comment_details
	{
		width: 253px;
	}
	/* --- comment form --- */
	.comment_form_container
	{
		margin-left: 103px;
	}
	.comment_form, .contact_form
	{
		margin-top: 23px;
	}
	.contact_form .right
	{
		margin-left: 20px;
	}
	.comment_form .text_input, .comment_form textarea
	{
		width: 149px;
	}
	.contact_form .text_input
	{
		width: 201px;
	}
	.contact_form textarea
	{
		width: 458px;
	}
	/* --- sidebar box --- */
	.sidebar_box
	{
		/*width: 250px;*/
		margin-top: 40px;
	}
	.sidebar_box .header_left, .footer_box.last .header_left, .footer_box:last-child .header_left
	{
		width: 176px;
	}
	.footer_box .header_left
	{
		width: 165px;
	}
	.sidebar_box .accordion
	{
		margin-top: 23px;
	}
	/* --- widgets --- */
	.widget_categories ul,
	.widget_archive ul,
	.widget_archive select
	{
		margin-top: 23px;
	}
	/* --- departments --- */
	.item_content .thumb_image,
	.features_image
	{
		margin-right: 23px;
	}
	.accordion.wide .about_img
	{
		width: 372px;
		margin-bottom: 19px;
	}
	.accordion.medium .ui-accordion-content
	{
		padding: 23px 0;
	}
	.item_content,
	.page_margin_top.item_content:first-child
	{
		margin-top: 23px;
	}
	.accordion.wide .gallery_box img
	{
		width: 225px;
		height: 150px;
	}
	.accordion.wide .gallery_box .mc_preloader
	{
		width: 225px;
	}
	.accordion.wide .tabs_navigation
	{
		margin-bottom: 23px;
	}
	.accordion.wide .columns .info_list li .text
	{
		width: 135px;
	}
	/* --- tabs --- */
	.ui-tabs-panel p
	{
		padding: 20px 0 21px;
	}
	/* tabs navigation */
	.tabs_navigation.page_margin_top
	{
		margin-top: 15px;
	}
	/* --- columns --- */
	.column_left, .column_right
	{
		width: 226px;
	}
	.column_left
	{
		margin-right: 23px;
	}
	.columns p
	{
		padding: 21px 0;
	}
	.columns.full_width .column_left
	{
		width: 364px;
	}
	.columns.full_width .column_right
	{
		width: 363px;
	}
	.page_right .columns .column_left, 
	.page_right .columns .column_right
	{
		width: 95px;
	}
	.columns.full_width .columns .column_left, 
	.columns.full_width .columns .column_right
	{
		width: 170px;
	}
	/* --- columns_3 --- */
	.columns_3 .column
	{
		width: 234px;
		margin-left: 23px;
	}
	/* --- list --- */
	.simple_list
	{
		padding: 21px 0;
	}
	/* --- info list --- */
	.info_list li .text
	{
		width: 260px;
	}
	/* --- announcement --- */
	.announcement p
	{
		padding: 10px 0;
	}
	.announcement .vertical_align
	{
		height: 63px;
	}
	/* --- pricing plan ---*/
	.pricing_plan li
	{
		width: 156px;
		padding-left: 18px;
	}
	/* --- timetable --- */
	.timetable
	{
		margin-top: 23px;
	}
	.timetable th, .timetable .event_container,
	.tooltip .tooltip_content
	{
		padding: 4px 8px 5px;
	}
	.timetable td
	{
		height: 18px;
	}
	/* --- isotope gallery --- */
	.gallery_box
	{
		margin-top: 23px;
	}
	.mc_gallery .gallery_box,
	.gallery_box img
	{
		/*width: 230px;*/
	}
	.gallery_box img
	{
		height: auto;
	}
	.gallery_item_details_list
	{
		padding-bottom: 23px;
	}
	.gallery_item_details_list .gallery_box
	{
		width: 375px;
		margin-right: 23px;
	}
	.gallery_item_details_list .details_box
	{
		width: 352px;
	}
	.gallery_item_details_list .gallery_box img,
	.gallery_item_details_list .mc_preloader
	{
		width: 375px;
	}
	.gallery_item_details_list .details_box .column_left,
	.gallery_item_details_list .details_box .column_right
	{
		width: 164px;
	}
	.gallery_item_details_list .details_box p
	{
		padding: 15px 0;
	}
	.gallery_2_columns .gallery_box
	{
		width: 360px;
	}
	.gallery_2_columns .gallery_box img
	{
		width: 360px;
		height: auto;
	}
	.gallery_2_columns .gallery_box .mc_preloader
	{
		width: 360px;
		height: 225px;
	}
	.gallery_3_columns .gallery_box
	{
		width: 230px;
	}
	.gallery_3_columns .gallery_box img
	{
		width: 230px;
		height: auto;
	}
	.gallery_3_columns .gallery_box .mc_preloader
	{
		width: 230px;
		height: 144px;
	}
	.page_left .gallery_item_details_list .gallery_box,
	.page_left .gallery_item_details_list .column_right,
	.page_left .gallery_item_details_list .details_box,
	.page_left .gallery_item_details_list .gallery_box img,
	.page_left .gallery_item_details_list .mc_preloader
	{
		width: 475px;
	}
	.page_left .gallery_item_details_list .column_right
	{
		margin-top: 23px;
	}
	.gallery_item_details_list.not_hidden li.gallery_item_details
	{
		margin-top: 23px;
	}
	/* --- contact details --- */
	.contact_details_about
	{
		width: 168px;
		padding: 10px;
	}
	.contact_details_map
	{
		width: 188px;
		height: 220px;
	}
	/* --- footer banner box --- */
	.footer_banner_box
	{
		width: 204px;
		padding: 20px 23px 30px;
	}
	/* --- footer box --- */
	.footer_box_container
	{
		margin-top: 23px;
	}
	.footer_box
	{
		float: left;
		width: 238px;
		padding-right: 18px;
	}
	/* --- footer contact info --- */
	.footer_contact_info_left
	{
		width: 87px;
	}
	/* --- footer_social_icons --- */
	.footer_social_icons
	{
		margin-top: 23px;
	}
	/* --- opening hours --- */
	.opening_hours
	{
		margin-top: 7px;
	}
	/* --- visual composer --- */
	body .vc_row-fluid [class*="vc_col-sm"]
	{
		margin-left: 18px;
	}
	body .vc_row-fluid .vc_col-sm-10
	{
		width: 622px;
	}
	body .vc_row-fluid .vc_col-sm-9
	{
		width: 558px;
	}
	body .vc_row-fluid .vc_col-sm-8
	{
		width: 494px;
	}
	body .vc_row-fluid .vc_col-sm-6
	{
		width: 366px;
	}
	body .vc_row-fluid .vc_col-sm-4
	{
		width: 238px;
	}
	body .vc_row-fluid .vc_col-sm-3
	{
		width: 30%;
	}
	body .vc_row-fluid .vc_col-sm-2
	{
		width: 110px;
	}
	.vc_row-fluid .wpb_column.page_left
	{
		width: 475px;
	}
	.vc_row-fluid .wpb_column.page_right
	{
		width: 250px;
	}
	/* --- vc layouts --- */
	.vc_col-sm-8 .vc_row-fluid .vc_col-sm-6
	{
		width: 238px;
	}
	/* --- vc blog --- */
	.vc_row-fluid .vc_col-sm-12 .post_content
	{
		width: 642px;
	}
	.vc_row-fluid .vc_col-sm-10 .post_content
	{
		width: 519px;
	}
	.vc_row-fluid .vc_col-sm-9 .post_content
	{
		width: 455px;
	}
	.vc_row-fluid .vc_col-sm-9 .columns .post_content
	{
		width: 100%;
	}
	.vc_row-fluid .vc_col-sm-8 .post_content
	{
		width: 391px;
	}
	.vc_row-fluid .vc_col-sm-6 .post_content
	{
		width: 263px;
	}
	.vc_row-fluid .vc_col-sm-12 .columns .post_content,
	.vc_row-fluid .vc_col-sm-10 .columns .post_content,
	.vc_row-fluid .vc_col-sm-8 .columns .post_content,
	.vc_row-fluid .vc_col-sm-6 .columns .post_content,
	.vc_row-fluid .vc_col-sm-4 .post_content
	{
		width: 100%;
	}
	.vc_row-fluid .vc_col-sm-4 .comment_box,
	.vc_row-fluid .vc_col-sm-4 .columns .comment_box
	{
		float: none;
		width: auto;
		margin-bottom: 23px;
		margin-right: 0;
	}
	.vc_row-fluid .vc_col-sm-4 .comment_box li,
	.vc_row-fluid .vc_col-sm-4 .columns .comment_box li 
	{
		float: left;
		clear: none;
		width: auto;
	}
	.vc_row-fluid .vc_col-sm-4 .comment_box .comments_number,
	.vc_row-fluid .vc_col-sm-4 .columns .comment_box .comments_number
	{
		width: auto;
		margin-top: 0;
		margin-left: 2px;
	}
	.vc_row-fluid .vc_col-sm-4 .comment_box .date .value,
	.vc_row-fluid .vc_col-sm-4 .columns .comment_box .date .value
	{
		width: auto;
	}
	.vc_row-fluid .vc_col-sm-4 .comment_box .date .arrow_date,
	.vc_row-fluid .vc_col-sm-4 .comment_box .arrow_comments,
	.vc_row-fluid .vc_col-sm-4 .columns .comment_box .date .arrow_date,
	.vc_row-fluid .vc_col-sm-4 .columns .comment_box .arrow_comments
	{
		clear: both;
		float: none;
	}
	/* --- vc comments --- */
	.vc_row-fluid .vc_col-sm-12 #comments_list .comment_details
	{
		width: 549px;
	}
	.vc_row-fluid .vc_col-sm-12 #comments_list .children .comment_details
	{
		width: 509px;
	}
	.vc_row-fluid .vc_col-sm-12 .comment_form .left, .vc_row-fluid .vc_col-sm-12 .comment_form .right
	{
		width: 313px;
	}
	.vc_row-fluid .vc_col-sm-12 .comment_form .text_input,
	.vc_row-fluid .vc_col-sm-12 .comment_form textarea
	{
		width: 277px;
	}
	.vc_row-fluid .vc_col-sm-10 #comments_list .comment_details
	{
		width: 421px;
	}
	.vc_row-fluid .vc_col-sm-10 #comments_list .children .comment_details
	{
		width: 381px;
	}
	.vc_row-fluid .vc_col-sm-10 .comment_form .left, .vc_row-fluid .vc_col-sm-10 .comment_form .right
	{
		width: 249px;
	}
	.vc_row-fluid .vc_col-sm-10 .comment_form .text_input,
	.vc_row-fluid .vc_col-sm-10 .comment_form textarea
	{
		width: 213px;
	}
	.vc_row-fluid .vc_col-sm-9 #comments_list .comment_details
	{
		width: 357px;
	}
	.vc_row-fluid .vc_col-sm-9 #comments_list .children .comment_details
	{
		width: 317px;
	}
	.vc_row-fluid .vc_col-sm-9 .comment_form .left, .vc_row-fluid .vc_col-sm-9 .comment_form .right
	{
		width: 217px;
	}
	.vc_row-fluid .vc_col-sm-9 .comment_form .text_input,
	.vc_row-fluid .vc_col-sm-9 .comment_form textarea
	{
		width: 181px;
	}
	.vc_row-fluid .vc_col-sm-6 #comments_list .comment_details
	{
		width: 165px;
	}
	.vc_row-fluid .vc_col-sm-6 #comments_list .children .comment_details
	{
		width: 125px;
	}
	.vc_row-fluid .vc_col-sm-6 .comment_form .right
	{
		margin-top: 10px;
		margin-left: 0;
	}
	.vc_row-fluid .vc_col-sm-6 .comment_form .left, .vc_row-fluid .vc_col-sm-6 .comment_form .right
	{
		width: 100%;
	}
	.vc_row-fluid .vc_col-sm-6 .comment_form .text_input,
	.vc_row-fluid .vc_col-sm-6 .comment_form textarea
	{
		width: 227px;
	}
	.vc_row-fluid .vc_col-sm-4 #comments_list .comment_details
	{
		width: 140px;
	}
	.vc_row-fluid .vc_col-sm-4 #comments_list .children .comment_details
	{
		width: 100px;
	}
	.vc_row-fluid .vc_col-sm-4 .comment_form .text_input,
	.vc_row-fluid .vc_col-sm-4 .comment_form textarea
	{
		width: 202px;
	}
	.vc_row-fluid .vc_col-sm-3 #comments_list .children .comment_details
	{
		width: 134px;
	}
	.vc_row-fluid .vc_col-sm-3 .comment_form .text_input,
	.vc_row-fluid .vc_col-sm-3 .comment_form textarea
	{
		width: 138px;
	}
	.vc_row-fluid .vc_col-sm-2 #comments_list .comment_author_avatar
	{
		display: none;
	}
	.vc_row-fluid .vc_col-sm-2 #comments_list .comment_details
	{
		margin-top: 0;
	}
	.vc_row-fluid .vc_col-sm-2 #comments_list .children .comment_details
	{
		width: 70px;
	}
	.vc_row-fluid .vc_col-sm-2 .comment_form .text_input, .vc_row-fluid .vc_col-sm-2 .comment_form textarea
	{
		width: 88px;
		padding: 11px;
	}
	/* --- vc contact form --- */
	.vc_col-sm-12 .contact_form .text_input
	{
		width: 329px;
	}
	.vc_col-sm-12 .contact_form textarea
	{
		width: 714px;
	}
	.vc_col-sm-10 .contact_form .text_input
	{
		width: 265px;
	}
	.vc_col-sm-10 .contact_form textarea
	{
		width: 586px;
	}
	.vc_col-sm-10 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected
	{
		width: 277px;
		background-position: 276px center;
	}
	.vc_col-sm-9 .contact_form .text_input
	{
		width: 233px;
	}
	.vc_col-sm-9 .contact_form textarea
	{
		width: 522px;
	}
	.vc_col-sm-9 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected
	{
		width: 245px;
		background-position: 244px center;
	}
	.vc_col-sm-8 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected
	{
		width: 213px;
		background-position: 212px center;
	}
	.vc_col-sm-6 .contact_form .text_input, .vc_col-sm-3 .contact_form .text_input, .vc_col-sm-3 .contact_form textarea
	{
		width: 137px;
	}
	.vc_col-sm-6 .contact_form textarea
	{
		width: 330px;
	}
	.vc_col-sm-6 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected, .vc_col-sm-3 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected
	{
		width: 149px;
		background-position: 148px center;
	}
	.vc_col-sm-4 .contact_form .text_input,
	.vc_col-sm-4 .contact_form textarea
	{
		width: 202px;
	}
	.vc_col-sm-4 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected
	{
		width: 214px;
		background-position: 213px center;
	}
	.vc_col-sm-4 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected.wide .sub-menu
	{
		width: 236px;
	}
	.vc_col-sm-3 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected.wide .sub-menu
	{
		width: 171px;
	}
	.vc_col-sm-3 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected.wide .sub-menu li
	{
		width: 157px;
	}
	.vc_col-sm-2 .contact_form .text_input, .vc_col-sm-2 .contact_form textarea
	{
		width: 74px;
	}
	.vc_col-sm-2 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected
	{
		width: 86px;
		background-position: 85px center;
	}
	.vc_col-sm-2 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected.wide .sub-menu
	{
		width: 108px;
	}
	.vc_col-sm-2 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected.wide .sub-menu li
	{
		width: 104px;
	}
	/* --- vc columns --- */
	.vc_row-fluid .vc_col-sm-12 .blog.column_left, .vc_row-fluid .vc_col-sm-12 .blog.column_right
	{
		width: 363px;
	}
	.vc_row-fluid .vc_col-sm-10 .blog.column_left, .vc_row-fluid .vc_col-sm-10 .blog.column_right
	{
		width: 299px;
	}
	.vc_row-fluid .vc_col-sm-9 .blog.column_left, .vc_row-fluid .vc_col-sm-9 .blog.column_right
	{
		width: 267px;
	}
	.vc_row-fluid .vc_col-sm-8 .blog.column_left, .vc_row-fluid .vc_col-sm-8 .blog.column_right
	{
		width: 235px;
	}
	.vc_row-fluid .vc_col-sm-6 .blog.column_left, .vc_row-fluid .vc_col-sm-6 .blog.column_right
	{
		clear: both;
		float: none;
		width: 100%;
	}
	.vc_row-fluid .vc_col-sm-6 .blog.column_left
	{
		margin-right: 0;
	}
	.vc_row-fluid .vc_col-sm-6 .blog.column_right,
	.vc_row-fluid .vc_col-sm-4 .blog.column_right,
	.vc_row-fluid .vc_col-sm-3 .blog.column_right,
	.vc_row-fluid .vc_col-sm-2 .blog.column_right
	{
		margin-top: 23px;
	}
	.vc_col-sm-12 .appointment_widget .columns.no_padding .column_left,
	.vc_col-sm-12 .appointment_widget .columns.no_padding .column_right
	{
		width: 363px;
	}
	.vc_col-sm-10 .appointment_widget .columns.no_padding .column_left,
	.vc_col-sm-10 .appointment_widget .columns.no_padding .column_right
	{
		width: 299px;
	}
	.vc_col-sm-9 .appointment_widget .columns.no_padding .column_left,
	.vc_col-sm-9 .appointment_widget .columns.no_padding .column_right
	{
		width: 267px;
	}
	.vc_col-sm-8 .appointment_widget .columns.no_padding .column_left,
	.vc_col-sm-8 .appointment_widget .columns.no_padding .column_right
	{
		width: 235px;
	}
	.vc_col-sm-6 .appointment_widget .columns.no_padding .column_left,
	.vc_col-sm-6 .appointment_widget .columns.no_padding .column_right
	{
		width: 171px;
	}
	.vc_col-sm-4 .appointment_widget .columns.no_padding .column_left, 
	.vc_col-sm-4 .appointment_widget .columns.no_padding .column_right
	{
		width: 100%;
	}
	.vc_row-fluid .vc_col-sm-4 .appointment_widget .columns.no_padding .column_left
	{
		margin-right: 0;
	}
	.vc_row-fluid .vc_col-sm-4 .appointment_widget .columns.no_padding .column_right,
	.vc_row-fluid .vc_col-sm-3 .appointment_widget .columns.no_padding .column_right,
	.vc_row-fluid .vc_col-sm-2 .appointment_widget .columns.no_padding .column_right
	{
		margin-top: 23px;
	}
	/* --- vc isotope gallery --- */
	.vc_col-sm-10 .gallery_item_details_list .gallery_box,
	.vc_col-sm-10 .gallery_item_details_list .gallery_box img,
	.vc_col-sm-10 .gallery_item_details_list .details_box,
	.vc_col-sm-10 .gallery_item_details_list .mc_preloader
	{
		width: 299px;
	}
	.vc_col-sm-10 .info_list li .text
	{
		width: 207px;
	}
	.vc_col-sm-9 .gallery_item_details_list .gallery_box,
	.vc_col-sm-9 .gallery_item_details_list .gallery_box img,
	.vc_col-sm-9 .gallery_item_details_list .details_box,
	.vc_col-sm-9 .gallery_item_details_list .mc_preloader
	{
		width: 267px;
	}
	.vc_col-sm-9 .info_list li .text
	{
		width: 175px;
	}
	.vc_col-sm-8 .gallery_item_details_list .gallery_box,
	.vc_col-sm-8 .gallery_item_details_list .gallery_box img,
	.vc_col-sm-8 .gallery_item_details_list .details_box,
	.vc_col-sm-8 .gallery_item_details_list .mc_preloader
	{
		width: 235px;
	}
	.vc_col-sm-8 .info_list li .text
	{
		width: 143px;
	}
	.vc_col-sm-6 .gallery_item_details_list .gallery_box,
	.vc_col-sm-6 .gallery_item_details_list .gallery_box img,
	.vc_col-sm-6 .gallery_item_details_list .details_box,
	.vc_col-sm-6 .gallery_item_details_list .mc_preloader
	{
		width: 171px;
	}
	.vc_col-sm-6 .info_list li .text
	{
		width: 100%;
	}
	/* --- vc item content --- */
	.vc_col-sm-3 .mc_features_large .item_content .features_image
	{
		margin-right: 0;
		margin-bottom: 20px;
	}
	/* --- scrolling list --- */
	.vc_col-sm-6 .scrolling_list li .left
	{
		width: 311px;
	}
	.vc_col-sm-4 .scrolling_list li .left
	{
		width: 183px;
	}
}
@media screen and (max-width:767px)
{
	/* --- header top sidebar --- */
	.header_top_sidebar
	{
		width: 462px;
	}
	.header_top_sidebar .thin_list li
	{
		clear: both;
	}
	.header_top_sidebar .top_header_icons
	{
		margin-top: -25px;
	}
	.header.layout_2 .header_top_right_sidebar_container
	{
		float: none;
		clear: both;
		margin-top: 70px;
	}
	.header.layout_2 .mobile_menu,
	.header.layout_3 .mobile_menu,
	.header.layout_4 .mobile_menu
	{
		float: none;
	}
	.header.layout_2 .mobile_menu select,
	.header.layout_3 .mobile_menu select,
	.header.layout_4 .mobile_menu select
	{
		width: 100%;
	}
	/* --- header --- */
	.header
	{
		width: 462px;
		padding: 18px 0;
	}
	.box_header.margin
	{
		margin-top: 0;
	}
	/* --- menu --- */
	.sf-menu
	{
		display: none;
	}
	.mobile_menu
	{
		display: block;
	}
	.tabs_box_navigation.sf-menu
	{
		display: block;
	}
	/* --- page --- */
	.theme_page, .page_left, .page_right
	{
		width: 462px;
	}
	.page_right
	{
		margin-top: 50px;
	}
	/* --- page header --- */
	.page_header_left
	{
		width: auto;
	}
	.page_header_right
	{
		float: left;
		clear: both;
		margin-top: 25px;
	}
	/* --- footer --- */
	.footer
	{
		width: 462px;
		height: auto;
	}
	/* --- search --- */
	.search .search_input,
	.search .search_input:focus
	{
		width: 244px;
	}
	/* --- slider --- */
	.slider li
	{
		height: 315px;
	}
	.slider_content_box
	{
		margin-top: -285px;
		min-height: 230px;
	}
	.slider_content .subtitle
	{
		margin-top: 10px;
	}
	.slider_content h1
	{
		font-size: 24px;
	}
	/* --- home box --- */
	.home_box_container_list.margin_minus
	{
		margin-top: -55px;
	}
	.home_box
	{
		width: 416px;
		height: auto;
	}
	.home_box .header_left
	{
		width: 372px;
	}
	.home_box .news .banner_icon
	{
		display: block;
	}
	/* --- scrolling list --- */
	.scrolling_list li,
	.columns.full_width .scrolling_list li
	{
		/*width: 444px;*/
	}
	.scrolling_list li .left,
	.columns.full_width .scrolling_list li .left
	{
		/*width: 407px;*/
	}
	/* --- info list --- */
	.info_list li .text,
	.accordion.wide .columns .info_list li .text,
	.wpb_column .info_list li .text
	{
		width: 370px;
	}
	/* --- blog --- */
	.blog.column_left,
	.blog.column_right
	{
		width: 462px;
	}
	.blog.column_left
	{
		margin-right: 0;
	}
	.post_content, .post_content a.post_image img, .post_content .gallery_box img
	{
		/*width: 354px;*/
	}
	.columns .post_content a.post_image img, .columns .post_content, .columns .post_content .image_carousel img, .columns .post_content .image_carousel .mc_preloader
	{
		width: 462px;
	}
	/* --- comments --- */
	#comments_list li.comment
	{
		/*width: 359px;*/
	}
	#comments_list .comment_details
	{
		width: 261px;
	}
	#comments_list .children li.comment
	{
		/*width: 337px;*/
	}
	#comments_list .children .comment_details
	{
		width: 221px;
	}
	/* --- comment form --- */
	.comment_form .text_input, .comment_form textarea
	{
		width: 131px;
	}
	.wpb_column .contact_form .text_input
	{
		width: 185px;
	}
	.wpb_column .contact_form textarea
	{
		width: 426px;
	}
	.wpb_column .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected
	{
		width: 197px;
		background-position: 196px center;
	}
	.wpb_column .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected.wide .sub-menu
	{
		width: 348px;
	}
	.wpb_column .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected.wide .sub-menu li
	{
		width: 160px;
		padding: 0 7px;
	}
	/* --- sidebar_box --- */
	.sidebar_box
	{
		/*width: 462px;*/
	}
	.sidebar_box .header_left
	{
		width: 400px;
	}
	/* --- departments --- */
	.accordion.wide .about_img
	{
		width: 377px;
	}
	.accordion.medium .ui-accordion-content
	{
		padding: 20px 0;
	}
	.item_content .thumb_image, .features_image
	{
		margin-right: 20px;
	}
	.accordion.wide .gallery_box img
	{
		width: 100%;
		height: auto;
	}
	/* --- columns --- */
	.column_left, .column_right
	{
		clear: both;
		float: none;
		width: auto;
	}
	.column_left
	{
		margin-right: 0;
	}
	.column_right
	{
		margin-top: 23px;
	}
	.caroufredsel_wrapper .column_left
	{
		float: left;
	}
	.columns.full_width .column_left, .columns.full_width .column_right,
	.columns_3 .column
	{
		width: 462px;
		margin-left: 0;
		margin-right: 0;
	}
	.columns_3 .column
	{
		margin-top: 23px;
	}
	.page_right .columns .column_left, 
	.page_right .columns .column_right 
	{
		float: left;
		clear: none;
		width: 113px;
		margin-right: 23px;
		margin-top: 0;
	}
	.page_right .columns.no_padding .column_right
	{
		margin-right: 0;
	}
	.columns.full_width .columns .column_left, 
	.columns.full_width .columns .column_right
	{
		float: left;
		clear: none;
		width: 219px;
	}
	.columns.full_width .columns .column_left
	{
		margin-right: 23px;
	}
	.columns.full_width .columns .column_right
	{
		margin-top: 0;
	}
	/* --- announcement --- */
	.announcement .vertical_align
	{
		height: auto;
	}
	/* --- pricing plan ---*/
	.pricing_plan li
	{
		width: 159px;
	}
	/* --- timetable --- */
	.timetable
	{
		display: none;
	}
	.timetable.small
	{
		display: block;
	}
	.timetable.small .items_list a
	{
		width: 356px;
	}
	.timetable.small .items_list.mode12 a
	{
		width: 318px;
	}
	/* --- isotope gallery --- */
	.mc_gallery .gallery_box,
	.gallery_box img
	{
		/*width: 225px;*/
	}
	.gallery_box img
	{
		height: 150px;
	}
	.gallery_item_details_list .gallery_box, 
	.gallery_item_details_list .gallery_box img, 
	.gallery_item_details_list .details_box,
	.wpb_column .gallery_item_details_list .gallery_box, 
	.wpb_column .gallery_item_details_list .gallery_box img, 
	.wpb_column .gallery_item_details_list .details_box,
	.gallery_item_details_list .gallery_box .mc_preloader,
	.wpb_column .gallery_item_details_list .gallery_box .mc_preloader
	{
		width: 462px;
	}
	.gallery_item_details_list .gallery_box
	{
		margin-right: 0;
	}
	.gallery_item_details_list .details_box
	{
		margin-top: 23px;
	}
	.gallery_item_details_list .details_box .column_left,
	.gallery_item_details_list .details_box .column_right
	{
		width: 164px;
	}
	.gallery_2_columns .gallery_box
	{
		width: 462px;
	}
	.gallery_2_columns .gallery_box img
	{
		width: 462px;
		height: 300px;
	}
	.gallery_2_columns .gallery_box .mc_preloader
	{
		width: 462px;
	}
	.gallery_3_columns .gallery_box
	{
		width: 225px;
	}
	.gallery_3_columns .gallery_box img
	{
		width: 225px;
		height: 150px;
	}
	.gallery_3_columns .gallery_box .mc_preloader
	{
		width: 225px;
	}
	.page_left .gallery_item_details_list .gallery_box,
	.page_left .gallery_item_details_list .column_right,
	.page_left .gallery_item_details_list .details_box,
	.page_left .gallery_item_details_list .gallery_box img,
	.page_left .gallery_item_details_list .mc_preloader
	{
		width: 462px;
	}
	/* --- scrolling gallery --- */
	.mc_gallery.horizontal_carousel li.gallery_box
	{
		margin-right: 12px;
	}
	/* --- contact details --- */
	.contact_details_about
	{
		width: 200px;
		padding: 20px;
	}
	.contact_details_map
	{
		width: 240px;
		height: 240px;
	}
	/* --- footer banner box --- */
	.footer_banner_box
	{
		width: 416px;
	}
	/* --- footer box --- */
	.footer_box
	{
		width: 462px;
		padding-right: 0;
		margin-top: 23px;
	}
	.footer_box:first-child
	{
		margin-top: 0;
	}
	.footer_box.last,
	.footer_box:last-child
	{
		width: 462px;
	}
	.footer_box .header_left,
	.footer_box.last .header_left,
	.footer_box:last-child .header_left
	{
		width: 400px;
	}
	/* --- footer contact info --- */
	.footer_contact_info_left
	{
		width: 255px;
	}
	.footer_contact_info_right
	{
		width: 187px;
	}
	/* --- visual composer --- */
	.vc_row-fluid .wpb_column.page_left,
	.vc_row-fluid .wpb_column.page_right
	{
		width: 462px;
	}
	.vc_row-fluid .wpb_column.page_right
	{
		margin-top: 50px;
	}
	.vc_row-fluid .wpb_column.vc_col-sm-2:first-child,
	.vc_row-fluid .wpb_column.vc_col-sm-3:first-child,
	.vc_row-fluid .wpb_column.vc_col-sm-4:first-child,
	.vc_row-fluid .wpb_column.vc_col-sm-6:first-child,
	.vc_row-fluid .wpb_column.vc_col-sm-8:first-child,
	.vc_row-fluid .wpb_column.vc_col-sm-9:first-child,
	.vc_row-fluid .wpb_column.vc_col-sm-10:first-child,
	body .vc_row-fluid .vc_col-sm-2:first-child,
	body .vc_row-fluid .vc_col-sm-3:first-child,
	body .vc_row-fluid .vc_col-sm-4:first-child,
	body .vc_row-fluid .vc_col-sm-6:first-child,
	body .vc_row-fluid .vc_col-sm-8:first-child,
	body .vc_row-fluid .vc_col-sm-9:first-child,
	body .vc_row-fluid .vc_col-sm-10:first-child
	{
		margin-top: 0;
	}
	.vc_row-fluid .wpb_column.vc_col-sm-2,
	.vc_row-fluid .wpb_column.vc_col-sm-3,
	.vc_row-fluid .wpb_column.vc_col-sm-4,
	.vc_row-fluid .wpb_column.vc_col-sm-6,
	.vc_row-fluid .wpb_column.vc_col-sm-8,
	.vc_row-fluid .wpb_column.vc_col-sm-9,
	.vc_row-fluid .wpb_column.vc_col-sm-10,
	body .vc_row-fluid .vc_col-sm-2,
	body .vc_row-fluid .vc_col-sm-3,
	body .vc_row-fluid .vc_col-sm-4,
	body .vc_row-fluid .vc_col-sm-6,
	body .vc_row-fluid .vc_col-sm-8,
	body .vc_row-fluid .vc_col-sm-9,
	body .vc_row-fluid .vc_col-sm-10
	{
		/*float: none;*/
		clear: both;
		/*width: auto;*/
		width: 100%;
		margin-left: 0;
		margin-top: 40px;
	}
	/* --- vc layouts --- */
	.vc_col-sm-8 .vc_row-fluid .vc_col-sm-6
	{
		float: left;
		clear: none;
		width: 219px;
		margin-left: 23px;
		margin-top: 0;
	}
	.vc_col-sm-8 .vc_row-fluid .vc_col-sm-6:first-child
	{
		margin-left: 0;
	}
	/* --- vc blog --- */
	.vc_row-fluid .wpb_column .post_content
	{
		width: 359px;
	}
	.vc_row-fluid .vc_col-sm-4 .comment_box,
	.vc_row-fluid .vc_col-sm-3 .comment_box,
	.vc_row-fluid .vc_col-sm-2 .comment_box
	{
		float: left;
		width: 85px;
		margin-bottom: 0;
		margin-right: 18px;
	}
	.vc_row-fluid .vc_col-sm-4 .comment_box li,
	.vc_row-fluid .vc_col-sm-3 .comment_box li,
	.vc_row-fluid .vc_col-sm-2 .comment_box li
	{
		clear: both;
		float: none;
		width: 100%;
	}
	.vc_row-fluid .vc_col-sm-4 .comment_box .comments_number,
	.vc_row-fluid .vc_col-sm-3 .comment_box .comments_number,
	.vc_row-fluid .vc_col-sm-2 .comment_box .comments_number
	{
		width: 80px;
		margin-top: 2px;
		margin-left: 0;
	}
	.vc_row-fluid .vc_col-sm-4 .comment_box .date .value,
	.vc_row-fluid .vc_col-sm-3 .comment_box .date .value,
	.vc_row-fluid .vc_col-sm-2 .comment_box .date .value
	{
		width: 60px;
	}
	.vc_row-fluid .vc_col-sm-4 .comment_box .date .arrow_date,
	.vc_row-fluid .vc_col-sm-4 .comment_box .arrow_comments,
	.vc_row-fluid .vc_col-sm-3 .comment_box .date .arrow_date,
	.vc_row-fluid .vc_col-sm-3 .comment_box .arrow_comments,
	.vc_row-fluid .vc_col-sm-2 .comment_box .date .arrow_date,
	.vc_row-fluid .vc_col-sm-2 .comment_box .arrow_comments
	{
		clear: none;
		float: left;
	}
	/* --- vc comments --- */
	.vc_row-fluid .wpb_column .comment_form_container
	{
		margin-left: 103px;
	}
	.vc_row-fluid .wpb_column #comments_list .comment_details
	{
		width: 261px;
	}
	.vc_row-fluid .wpb_column #comments_list .children .comment_details
	{
		width: 221px;
	}
	.vc_row-fluid .wpb_column .comment_box .arrow_comments
	{
		float: left;
	}
	.vc_row-fluid .wpb_column .comments .comment_box .comments_number
	{
		width: 85px;
	}
	.vc_row-fluid .wpb_column #comments_list .comment_author_avatar
	{
		display: block;
		margin-right: 23px;
	}
	.vc_row-fluid .wpb_column .comment_form .left, .vc_row-fluid .wpb_column .comment_form .right
	{
		width: 169px;
	}
	.vc_row-fluid .wpb_column .comment_form .right, .wpb_column .contact_form .right
	{
		margin-left: 20px;
		margin-top: 0;
	}
	.vc_row-fluid .wpb_column .comment_form .text_input,
	.vc_row-fluid .wpb_column .comment_form textarea
	{
		width: 133px;
		padding: 11px 18px;
	}
	/* --- vc columns --- */
	.vc_row-fluid .vc_col-sm-12 .blog.column_left, .vc_row-fluid .vc_col-sm-12 .blog.column_right,
	.vc_row-fluid .vc_col-sm-10 .blog.column_left, .vc_row-fluid .vc_col-sm-10 .blog.column_right,
	.vc_row-fluid .vc_col-sm-9 .blog.column_left, .vc_row-fluid .vc_col-sm-9 .blog.column_right,
	.vc_row-fluid .vc_col-sm-8 .blog.column_left, .vc_row-fluid .vc_col-sm-8 .blog.column_right,
	.vc_row-fluid .vc_col-sm-4 .columns .post_content,
	.vc_row-fluid .vc_col-sm-3 .columns .post_content,
	.vc_row-fluid .vc_col-sm-2 .columns .post_content
	{
		width: 100%;
	}
	.wpb_column .appointment_widget .columns.no_padding .column_left,
	.wpb_column .appointment_widget .columns.no_padding .column_right
	{
		width: 100%;
	}
	/* --- scrolling list --- */
	.vc_col-sm-6 .scrolling_list li .left
	{
		width: 407px;
	}
	.vc_col-sm-4 .scrolling_list li .left
	{
		width: 407px;
	}
}
@media screen and (max-width:479px)
{
	/* --- header --- */
	h1
	{
		font-size: 22px;
	}
	h2
	{
		font-size: 18px;
	}
	h3
	{
		font-size: 14px;
	}
	h4
	{
		font-size: 13px;
	}
	/* --- header top sidebar --- */
	.header_top_sidebar
	{
		width: 300px;
	}
	.header_top_sidebar .thin_list,
	.header_top_sidebar .top_header_icons
	{
		clear: both;
		width: 100%;
	}
	.header_top_sidebar .top_header_icons
	{
		margin-top: 23px;
	}
	.top_info_list li.separator
	{
		margin-left: 15px;
		margin-right: 15px;
	}
	/* --- header --- */
	.header
	{
		width: 300px;
	}
	/* --- menu --- */
	.mobile_menu
	{
		clear: both;
		float: none;
		text-align: center;
	}
	.mobile_menu select
	{
		width: 100%;
	}
	.sf-menu li.wide ul.sub-menu
	{
		width: 278px;
	}
	/* --- page --- */
	.theme_page, .page_left, .page_right/*, .sidebar_box*/
	{
		width: 300px;
	}
	.top_hint
	{
		display: none;
	}
	/* --- bread crumb --- */
	.bread_crumb
	{
		clear: both;
		margin-left: 0;
	}
	/* --- search --- */
	.search .search_input,
	.search .search_input:focus
	{
		width: 264px;
	}
	/* --- footer --- */
	.footer
	{
		width: 300px;
	}
	/* --- slider --- */
	.slider li
	{
		height: 210px;
	}
	.slider_content_box
	{
		margin-top: -195px;
		min-height: 175px;
	}
	.slider_content h1
	{
		font-size: 12px;
	}
	/* --- home box --- */
	.home_box_container_list.margin_minus
	{
		margin-top: -20px;
	}
	.home_box
	{
		width: 254px;
	}
	.home_box .header_left
	{
		width: 192px;
	}
	/* --- scrolling list ---*/
	.scrolling_list li,
	.columns.full_width .scrolling_list li
	{
		/*width: 282px;*/
	}
	.scrolling_list li .left,
	.columns.full_width .scrolling_list li .left
	{
		/*width: 245px;*/
	}
	/* --- info list --- */
	.info_list li .text,
	.wpb_column .info_list li .text
	{
		width: 208px;
	}
	/* --- blog --- */
	.blog.column_left,
	.blog.column_right
	{
		width: 300px;
	}
	.post_content, .post_content a.post_image img, .post_content .gallery_box img
	{
		/*width: 300px;*/
	}
	.comment_box,
	.vc_row-fluid .vc_col-sm-4 .comment_box,
	.vc_row-fluid .vc_col-sm-3 .comment_box,
	.vc_row-fluid .vc_col-sm-2 .comment_box
	{
		float: left;
		width: auto;
		margin-bottom: 23px;
		margin-right: 0;
	}
	.comment_box li,
	.vc_row-fluid .vc_col-sm-4 .comment_box li,
	.vc_row-fluid .vc_col-sm-3 .comment_box li,
	.vc_row-fluid .vc_col-sm-2 .comment_box li
	{
		float: left;
		clear: none;
		width: auto;
	}
	.comment_box .comments_number,
	.vc_row-fluid .vc_col-sm-4 .comment_box .comments_number,
	.vc_row-fluid .vc_col-sm-3 .comment_box .comments_number,
	.vc_row-fluid .vc_col-sm-2 .comment_box .comments_number
	{
		width: auto;
		margin-top: 0;
		margin-left: 2px;
	}
	.comment_box .date .value,
	.vc_row-fluid .vc_col-sm-4 .comment_box .date .value,
	.vc_row-fluid .vc_col-sm-3 .comment_box .date .value,
	.vc_row-fluid .vc_col-sm-2 .comment_box .date .value
	{
		width: auto;
	}
	.comment_box .date .value,
	.comment_box .date .arrow_date,
	.comment_box .comments_number a,
	.comment_box .arrow_comments,
	.vc_row-fluid .vc_col-sm-4 .comment_box .date .arrow_date,
	.vc_row-fluid .vc_col-sm-4 .comment_box .arrow_comments,
	.vc_row-fluid .vc_col-sm-3 .comment_box .date .arrow_date,
	.vc_row-fluid .vc_col-sm-3 .comment_box .arrow_comments,
	.vc_row-fluid .vc_col-sm-2 .comment_box .date .arrow_date,
	.vc_row-fluid .vc_col-sm-2 .comment_box .arrow_comments
	{
		clear: both;
		float: none;
	}
	.comment_box .date .arrow_date,
	.comment_box .arrow_comments
	{
		left: 0;
		right: auto;
	}
	.columns .post_content a.post_image img,
	.columns .post_content,
	.columns .post_content .image_carousel img,
	.columns .post_content .image_carousel .mc_preloader
	{
		width: 300px;
	}
	/* --- comments --- */
	#comments_list .comment_details,
	.vc_row-fluid .wpb_column #comments_list .comment_details
	{
		width: 300px;
	}
	#comments_list .comment_author_avatar,
	.vc_row-fluid .wpb_column #comments_list .comment_author_avatar
	{
		display: none;
	}
	#comments_list .children .comment_details,
	.vc_row-fluid .wpb_column #comments_list .children .comment_details
	{
		width: 260px;
	}
	/* --- comment form --- */
	.comment_form_container,
	.vc_row-fluid .wpb_column .comment_form_container
	{
		margin-left: 0;
	}
	.comment_form .right,
	.vc_row-fluid .wpb_column .comment_form .right
	{
		margin-top: 10px;
		margin-left: 0;
	}
	.vc_row-fluid .wpb_column .comment_form .left, .vc_row-fluid .wpb_column .comment_form .right
	{
		width: 300px;
	}
	.comment_form .text_input, .comment_form textarea,
	.contact_form .text_input, .contact_form textarea,
	.vc_row-fluid .wpb_column .comment_form .text_input,
	.vc_row-fluid .wpb_column .comment_form textarea,
	.wpb_column .contact_form .text_input,
	.wpb_column .contact_form textarea
	{
		width: 264px;
	}
	.wpb_column .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected
	{
		width: 276px;
		background-position: 275px center;
	}
	.wpb_column .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected.wide .sub-menu
	{
		width: 298px;
	}
	.wpb_column .contact_form .right
	{
		margin-left: 0;
	}
	/* --- departments --- */
	.accordion.wide .about_img
	{
		width: 300px;
	}
	.item_content .thumb_image,
	.features_image
	{
		margin-right: 20px;
	}
	/* --- columns --- */
	.column_left, .column_right, .columns.full_width .column_left, .columns.full_width .column_right,
	.columns_3 .column
	{
		width: 300px;
	}
	.column_left
	{
		margin-right: 0;
	}
	.page_right .columns .column_left, 
	.page_right .columns .column_right 
	{
		width: 120px;
	}
	.page_right .columns .column_right 
	{
		margin-right: 0;
	}
	.columns.full_width .columns .column_left, 
	.columns.full_width .columns .column_right
	{
		width: 138px;
	}
	/* --- pricing plan ---*/
	.pricing_plan li
	{
		width: 282px;
	}
	/* --- timetable --- */
	.timetable.small .items_list a
	{
		width: 194px;
	}
	.timetable.small .items_list.mode12 a
	{
		width: 156px;
	}
	/* --- sidebar box --- */
	.sidebar_box .header_left
	{
		width: 238px;
	}
	.sidebar_box .categories
	{
		width: auto;
	}
	.sidebar_box .categories li
	{
		float: left;
		clear: none;
		margin-right: 2px;
	}
	/* --- isotope gallery --- */
	.gallery_item_details_list .gallery_box, 
	.gallery_item_details_list .gallery_box img, 
	.gallery_item_details_list .details_box,
	.gallery_item_details_list .details_box .column_left,
	.gallery_item_details_list .details_box .column_right,
	.page_left .gallery_item_details_list .gallery_box,
	.page_left .gallery_item_details_list .column_right,
	.page_left .gallery_item_details_list .details_box,
	.page_left .gallery_item_details_list .gallery_box img,
	.wpb_column .gallery_item_details_list .gallery_box, 
	.wpb_column .gallery_item_details_list .gallery_box img, 
	.wpb_column .gallery_item_details_list .details_box,
	.gallery_item_details_list .gallery_box .mc_preloader,
	.wpb_column .gallery_item_details_list .mc_preloader,
	.gallery_2_columns .gallery_box,
	.gallery_2_columns .gallery_box .mc_preloader,
	.gallery_3_columns .gallery_box,
	.gallery_3_columns .gallery_box .mc_preloader
	{
		width: 300px;
	}
	.gallery_2_columns .gallery_box img,
	.gallery_3_columns .gallery_box img
	{
		width: 300px;
		height: auto;
	}
	/* --- tabs box navigation --- */
	.tabs_box_navigation.sf-menu .tabs_box_navigation_selected
	{
		width: 276px;
		background-position: 275px center;
	}
	.tabs_box_navigation.sf-menu li.wide ul.sub-menu
	{
		width: 298px;
	}
	/* --- scrolling gallery --- */
	.mc_gallery.horizontal_carousel li.gallery_box
	{
		margin-left: 37.5px;
		margin-right: 0;
	}
	.mc_gallery.horizontal_carousel.gallery_2_columns li.gallery_box,
	.mc_gallery.horizontal_carousel.gallery_3_columns li.gallery_box
	{
		margin-left: 0;
		margin-right: 12px;
	}
	/* --- contact details --- */
	.contact_details_about
	{
		width: 260px;
	}
	.contact_details_map
	{
		width: 300px;
	}
	/* --- footer banner box --- */
	.footer_banner_box
	{
		width: 254px;
	}
	/* --- footer box --- */
	.footer_box
	{
		width: 300px;
	}
	.footer_box.last,
	.footer_box:last-child
	{
		width: 300px;
	}
	.footer_box .header_left,
	.footer_box.last .header_left,
	.footer_box:last-child .header_left
	{
		width: 238px;
	}
	/* --- footer contact info --- */
	.footer_contact_info_left
	{
		width: 155px;
	}
	.footer_contact_info_right
	{
		width: 130px;
		margin-left: 15px;
	}
	/* --- pricing table --- */
	div.p_table_1.p_table_responsive li.row_style_1 .css3_grid_vertical_align>span, div.p_table_1.p_table_responsive li.row_style_2 .css3_grid_vertical_align>span, div.p_table_1.p_table_responsive li.row_style_3 .css3_grid_vertical_align>span, div.p_table_1.p_table_responsive li.row_style_4 .css3_grid_vertical_align>span
	{
		padding: 0 2px !important;
	}
	/* --- visual composer --- */
	.vc_row-fluid .wpb_column.page_left,
	.vc_row-fluid .wpb_column.page_right
	{
		width: 300px;
	}
	/* --- vc layouts --- */
	.vc_col-sm-8 .vc_row-fluid .vc_col-sm-6
	{
		float: none;
		clear: both;
		width: 100%;
		margin-top: 23px;
		margin-left: 0;
	}
	.vc_col-sm-8 .vc_row-fluid .vc_col-sm-6:first-child
	{
		margin-top: 0;
	}
	/* --- vc blog --- */
	.vc_row-fluid .wpb_column .post_content
	{
		width: 100%;
	}
	/* --- scrolling list --- */
	.wpb_column .scrolling_list li .left
	{
		width: 244px;
	}
}
@media screen and (max-device-width: 480px)
{
	body
	{
		-webkit-text-size-adjust: none;
	}
}
